{extend name="web@base/main"/}
{block name="body"}
<link rel="shortcut icon" href="__STATIC__image/favicon.ico" />
<style>
    .invite_body{width:100%;background: #f3f3f3;}
    .reg_box{width:100%;background: #fff;margin-top:60px;padding-bottom: 46px;}
    .invite_box{clear:both;padding-top:14px;}
    .yzm_li{width:60%!important;float:left;margin-bottom: 14px;}
    @media screen and (min-device-width:1025px){
        .reg_banner{width:1200px;}
        .regShareBox{width:640px;margin:0 auto;}
        .reg_title{font-size:26px;color:#333333;float:left;line-height: 32px;margin-left:6px;height: 32px;display: inline-flex;}
        .invite_input{height:50px;line-height: 50px;font-size:20px;padding:0 15px;width:518px;}
        .reg_yzm{width: 262px;}
        .read_pro{font-size:20px;float:left;line-height:22px;padding:20px 0 25px;margin-left:10px;}
        .yzm_get{width:36%;height:50px;background: #611987;float:right;margin-top:14px;border-radius: 6px;font-size:20px;line-height: 50px;text-align:center;color:#fff;cursor:pointer;}
        .reg_success{width:100%;height:60px;background: #611987;clear:both;text-align: center;line-height: 60px;font-size:26px;color:#fff;border-radius: 6px;cursor:pointer;}
        .invite_box li{width:100%;height:50px;border:1px solid #dbdbdb;border-radius: 6px;margin-top:14px;}
        .reg_icon>img{width:40px;margin:0 auto;display:block;}
        .reg_icon{width:90px;height:40px;float:left;margin:5px 0;border-right:1px solid #dbdbdb;}
        .agreeIcon{width:22px;float:left;padding:20px 0 25px;}
        .register_tips2{font-size: 18px;
            clear: both;
            text-align: left;
            color: red;
            padding-bottom: 10px;
            height: 30px;}
        .reg_main{width:1200px;background: #fff;margin:48px auto 0 auto;}
        .reg_per_tele{color:#611987;display: inline-block;max-width: 200px;overflow: hidden;height: 32px;text-overflow: ellipsis;white-space: nowrap;line-height: 32px;}
    }
    @media screen and (max-device-width:1025px){
        body{position: relative;}
        .reg_banner{width:100%;}
        .regShareBox{width: 86%;margin:0 auto;}
        .reg_title{    font-size: 36px;
            color: #333333;
            float: left;
            line-height: 36px;
            margin-left: 6px;display: inline-flex;}
        .invite_input{height: 80px;
            line-height: 80px;
            font-size: 30px;
            padding: 0 15px;
            width: 60%;
            margin-top: 5px;}
        .read_pro{font-size:28px;float:left;line-height:28px;padding:20px 0 25px;margin-left:10px;}
        .vip_footer{position: absolute;bottom:0;left:0;}
        .yzm_get{width:36%;height:90px;background: #611987;float:right;margin-top:14px;border-radius: 6px;font-size:30px;line-height: 90px;text-align:center;color:#fff;cursor:pointer;}
        .reg_success{width:100%;height:100px;background: #611987;clear:both;text-align: center;line-height: 100px;font-size:38px;color:#fff;border-radius: 6px;cursor:pointer;}
        .invite_box li{width:100%;height:90px;border:1px solid #dbdbdb;border-radius: 6px;margin-top:14px;}
        .reg_icon>img{width:40px;margin:20px auto;display:block;}
        .reg_icon{width:90px;height:80px;float:left;margin:5px 0;border-right:1px solid #dbdbdb;}
        .agreeIcon{width:30px;float:left;padding:20px 0 25px;}
        .register_tips2{font-size: 30px;
            clear: both;
            text-align: left;
            color: red;
            padding-bottom: 10px;
            height: 30px;}
        .reg_main{width:100%;background: #fff;margin:0 auto;}
        .vip_footer{width:100%;min-width:0;}
        .footer-t p{width:100%;}
        .footer-m ul{width:100%;}
        .footer-m ul .footer_li{    margin-right: 18px;}
        .reg_per_tele{color:#611987;display: inline-block;max-width: 224px;overflow: hidden;height: 36px;text-overflow: ellipsis;white-space: nowrap;line-height: 36px;}
    }
    .reg_main_app .reg_banner{position: absolute;left: 0;top: 0;}
    .reg_main_app_btn01{display: block;background: #611987;position: fixed;left: 8%;bottom: 4rem;text-align: center;color: #fff;width: 84%;
        height: 100px;clear: both;line-height: 100px;font-size: 38px;border-radius: 6px;}
    .reg_main_app_box{display: none;width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;bottom: 0;}
    .reg_main_app_box_inner{position: absolute;bottom: 0;background: #fff;width: 84%;height: 44rem;padding: 3rem 8%;}
    .reg_main_app_box_inner .reg_title{color: #b3392b;}
</style>
<div class="invite_body">
    <div class="reg_main">
        <img src="__STATIC__image/mam_invite_bg01.png" class="reg_banner">
        <div class="reg_box">
            <div  class="regShareBox">
                <div>
                    <img src="__STATIC__image/reg_head_icon.jpg" style="width:32px;float:left;">
                    {if !empty($inviteInfo)}
                    <p class="reg_title">您的好友 <span class="reg_per_tele"><?php echo empty($inviteInfo['login']) ? $inviteInfo['nickname'] : substr_replace($inviteInfo['login'], '***', 4, 3);?></span> 邀请您与TA一起资本运作！</p>
                    {/if}
                </div>
                <ul class="invite_box">
                    <li>
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon1.jpg">
                        </div>
                        <input type="num" class="invite_input reg_phone" placeholder="请输入手机号" maxlength="11">
                    </li>
                    <li class="yzm_li">
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon2.jpg">
                        </div>
                        <input type="num" class="invite_input reg_yzm" placeholder="验证码" maxlength="6">
                    </li>
                    <div class="yzm_get">获取验证码</div> <!-- 正在获取(16)-->
                    <li style="clear:both;">
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon3.jpg">
                        </div>
                        <input type="password" class="invite_input reg_pass" placeholder="设置6-12位密码">
                    </li>
                    <li>
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon3.jpg">
                        </div>
                        <input type="password" class="invite_input reg_pass2" placeholder="请再次输入您的密码">
                    </li>
                </ul>
                <img src="__STATIC__image/agreeIcon.jpg" class="agreeIcon">
                <p  class="read_pro">我已阅读并同意<a href="{:url('mam/protocol')}" target="_blank" style="color:#611987;">《MAM交易服务协议》</a></p>
                <p class="register_tips2" ></p>
                <div class="reg_success">立即注册</div>
            </div>
        </div>
    </div>
    <div class="reg_main_app" style="display: none;">
        <img src="__STATIC__image/mam_invite_bg02.png" class="reg_banner">
        <a href="javascript:void(0)" class="reg_main_app_btn01">立即注册</a>
        <div class="reg_main_app_box">
            <div class="reg_main_app_box_inner">
                {if !empty($inviteInfo)}
                <p class="reg_title">您的好友 <span class="reg_per_tele"><?php echo empty($inviteInfo['login']) ? $inviteInfo['nickname'] : substr_replace($inviteInfo['login'], '***', 4, 3);?></span> 邀请您与TA一起跟单！</p>
                {/if}
                <ul class="invite_box">
                    <li>
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon1.jpg">
                        </div>
                        <input type="num" class="invite_input reg_phone" placeholder="请输入手机号" maxlength="11">
                    </li>
                    <li class="yzm_li">
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon2.jpg">
                        </div>
                        <input type="num" class="invite_input reg_yzm" placeholder="验证码" maxlength="6">
                    </li>
                    <div class="yzm_get">获取验证码</div> <!-- 正在获取(16)-->
                    <li style="clear:both;">
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon3.jpg">
                        </div>
                        <input type="password" class="invite_input reg_pass" placeholder="设置6-12位密码">
                    </li>
                    <li>
                        <div class="reg_icon">
                            <img src="__STATIC__image/reg_icon3.jpg">
                        </div>
                        <input type="password" class="invite_input reg_pass2" placeholder="请再次输入您的密码">
                    </li>
                </ul>
                <img src="__STATIC__image/agreeIcon.jpg" class="agreeIcon">
                <p  class="read_pro">我已阅读并同意<a href="{:url('mam/protocol')}" style="color:#611987;">《MAM交易服务协议》</a></p>
                <p class="register_tips2" ></p>
                <div class="reg_success">立即注册</div>
            </div>
        </div>
        <script>
            getClientInfo();
            function getClientInfo(){
                var userAgentInfo = navigator.userAgent;
                var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
                var agentinfo = null;
                for (var i = 0; i < Agents.length; i++) {
                    if (userAgentInfo.indexOf(Agents[i]) > 0) { agentinfo = userAgentInfo; break; }
                }
                if(agentinfo){
//                    return agentinfo;
                    $(".vip_head").css("display","none");
                    $(".vip_footer").css("display","none");
                    $(".reg_main").css("display","none");
                    $(".reg_main_app").css("display","block");
                    $(".reg_main_app_btn01").on("click", function () {
                        $(".reg_main_app_box").show();
                    });
                    $(".reg_main_app_box").on("click", function (event) {
                        $(this).hide();
                        event.stopPropagation();
                    });
                    $(".reg_main_app_box_inner").on("click", function (event) {
                        event.stopPropagation();
                    });
                }else{
//                    return "PC";
                    $(".reg_main").css("display","block");
                    $(".reg_main_app").css("display","none");
                }
            }
        </script>
    </div>
</div>
{if !empty($inviteInfo)}
<input type="hidden"  name="inviteUid" value="{$inviteInfo['uid']}">
{/if}
<script>
    var countdown2=60;
    function settime2(obj) {
        obj = $(obj);
        if (countdown == 0) {
            obj.css({"background":"#611987"});
            obj.html("获取验证码");
            countdown = 60;
            return;
        } else {
            obj.css({"background":"#cccccc"});
            obj.html("重发短信(" + countdown + ")秒");
            countdown--;
        }
        setTimeout(function() {settime2(obj) },1000);
    }
    function gettelcode22() {
        var mlogin = $(".reg_main .reg_phone").val();
        if(mlogin==""){
            $(".reg_main .register_tips2").html('请输入您的手机号码！').show();
            return false;
        }
        var tel= /^1[3458]\d{9}$/;
        if(!tel.test(mlogin)){
            $(".reg_main .register_tips2").html('请输入正确的手机号！').show();
            return false;
        }
        $.ajax({
            type : 'POST',
            url : "{:url('index/get_smscode')}",
            data : {mobile : mlogin},
            success : function (response){
                if(response){
                    var json = JSON.parse(response);
                    if(json.code=='200'){
                        settime2(".reg_main .yzm_get");
                    }
                    $(".reg_main .register_tips2").html(json.message).show();
                }

            },
            beforeSend : function(){
                //$('#page_tag_load').show();
            },
            complete : function(){
                //$('#page_tag_load').hide();
            }
        });


    }
    $(".reg_main .yzm_get").click(function(){
        if(countdown==60){
            gettelcode22();
        }else{
            $(".reg_main .register_tips2").html('请稍后再试!').show();
        }
    });
    $(".reg_main .reg_success").click(function(){
        var mlogin = $(".reg_main .reg_phone").val();
        var register_win_input = $(".reg_main .reg_yzm").val();
        var mpassword = $(".reg_main .reg_pass").val();
        var mrpassword = $(".reg_main .reg_pass2").val();
        if(mlogin==""){
            $(".reg_main .register_tips2").html('请输入您的手机号码！').show();
            return false;
        }
        var tel= /^1[3458]\d{9}$/;
        if(!tel.test(mlogin)){
            $(".reg_main .register_tips2").html('请输入正确的手机号！').show();
            return false;
        }
        if(register_win_input==""){
            $(".reg_main .register_tips2").html('请输入短信验证码！').show();
            return false;
        }
        if(mpassword==""){
            $(".reg_main .register_tips2").html('请输入密码！').show();
            return false;
        }
        if(mrpassword==""){
            $(".reg_main .register_tips2").html('请输入确认密码！').show();
            return false;
        }
        if(mrpassword == mpassword){}else{
            $(".reg_main .register_tips2").html('确认密码需与登录密码一致！').show();
            return false;
        }
        var uid=$("input[name='inviteUid']").val();
        $.ajax({
            type : 'POST',
            url : "{:url('index/register')}",
            data : {
                login : mlogin,
                password : mpassword,
                verify : register_win_input,  //短信验证码
                code:uid  //邀请码
            },
            success : function (data){
                console.log(data.msg);
                var json = JSON.parse(data);
                if(json){
                    var mid= refferee;
                    $(".reg_main .register_tips2").html(json.msg).show();
                    if(json.code==200){
                        $(".reg_main .reg_success").attr("disabled","true");
                        $(".reg_main .register_tips2").html(json.msg).show();
                        setTimeout(function(){
                            if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)||/(Android)/i.test(navigator.userAgent)){
                                location.href='http://www.srefx.com/other/scan_download.html';
                            }else{
                                location.href="{:url('mam/index')}";
                            }
                        },1000);
                    }
                }

            },
            beforeSend : function(){
                //$('#page_tag_load').show();
            },
            complete : function(){
                //$('#page_tag_load').hide();
            }
        });

        return true;
    });
    function IsPC(){
        var userAgentInfo = navigator.userAgent;
        var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }
        }
        return flag;
    }
</script>
<script>
    var countdown3=60;
    function settime3(obj) {
        obj = $(obj);
        if (countdown == 0) {
            obj.css({"background":"#611987"});
            obj.html("获取验证码");
            countdown = 60;
            return;
        } else {
            obj.css({"background":"#cccccc"});
            obj.html("重发短信(" + countdown + ")秒");
            countdown--;
        }
        setTimeout(function() {settime2(obj) },1000);
    }
    function gettelcode33() {
        var mlogin = $(".reg_main_app .reg_phone").val();
        if(mlogin==""){
            $(".reg_main_app .register_tips2").html('请输入您的手机号码！').show();
            return false;
        }
        var tel= /^1[3458]\d{9}$/;
        if(!tel.test(mlogin)){
            $(".reg_main_app .register_tips2").html('请输入正确的手机号！').show();
            return false;
        }
        $.ajax({
            type : 'POST',
            url : "{:url('index/get_smscode')}",
            data : {mobile : mlogin},
            success : function (response){
                if(response){
                    var json = JSON.parse(response);
                    if(json.code=='200'){
                        settime3(".reg_main_app .yzm_get");
                    }
                    $(".reg_main_app .register_tips2").html(json.message).show();
                }

            },
            beforeSend : function(){
                //$('#page_tag_load').show();
            },
            complete : function(){
                //$('#page_tag_load').hide();
            }
        });


    }
    $(".reg_main_app .yzm_get").click(function(){
        if(countdown==60){
            gettelcode33();
        }else{
            $(".reg_main_app .register_tips2").html('请稍后再试!').show();
        }
    });
    $(".reg_main_app .reg_success").click(function(){
        var mlogin = $(".reg_main_app .reg_phone").val();
        var register_win_input = $(".reg_main_app .reg_yzm").val();
        var mpassword = $(".reg_main_app .reg_pass").val();
        var mrpassword = $(".reg_main_app .reg_pass2").val();
        if(mlogin==""){
            $(".reg_main_app .register_tips2").html('请输入您的手机号码！').show();
            return false;
        }
        var tel= /^1[3458]\d{9}$/;
        if(!tel.test(mlogin)){
            $(".reg_main_app .register_tips2").html('请输入正确的手机号！').show();
            return false;
        }
        if(register_win_input==""){
            $(".reg_main_app .register_tips2").html('请输入短信验证码！').show();
            return false;
        }
        if(mpassword==""){
            $(".reg_main_app .register_tips2").html('请输入密码！').show();
            return false;
        }
        if(mrpassword==""){
            $(".reg_main_app .register_tips2").html('请输入确认密码！').show();
            return false;
        }
        if(mrpassword == mpassword){}else{
            $(".reg_main_app .register_tips2").html('确认密码需与登录密码一致！').show();
            return false;
        }
        var uid=$("input[name='inviteUid']").val();
        $.ajax({
            type : 'POST',
            url : "{:url('index/register')}",
            data : {
                login : mlogin,
                password : mpassword,
                verify : register_win_input,  //短信验证码
                code:uid  //邀请码
            },
            success : function (data){
                console.log(data.msg);
                var json = JSON.parse(data);
                if(json){
                    var mid= refferee;
                    $(".reg_main_app .register_tips2").html(json.msg).show();
                    if(json.code==200){
                        $(".reg_main_app .reg_success").attr("disabled","true");
                        $(".reg_main_app .register_tips2").html(json.msg).show();
                        setTimeout(function(){
                            if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)||/(Android)/i.test(navigator.userAgent)){
                                location.href='http://www.srefx.com/other/scan_download.html';
                            }else{
                                location.href="{:url('mam/index')}";
                            }
                        },1000);
                    }
                }

            },
            beforeSend : function(){
                //$('#page_tag_load').show();
            },
            complete : function(){
                //$('#page_tag_load').hide();
            }
        });

        return true;
    });
    function IsPC(){
        var userAgentInfo = navigator.userAgent;
        var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }
        }
        return flag;
    }
</script>

{/block}