{extend name="web@base/main"/}
{block name="body"}
<link rel="shortcut icon" href="__STATIC__image/favicon.ico" />
<link href="__STATIC__css/index.css" rel="stylesheet">
<div class="combination_head">
    <a href="{:url('other/rule')}"><div class="combination_goto">参与排位</div></a>
</div>
<div class="combination_body">
    <div class="combi_body">
        <ul>
            <li class="combi_li">
                <div class="combi_li_head combi_li_head1">
                    <p class="combi_li_number">第 1 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥100000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade1.png" class="usrgrade">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥500/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head combi_li_head2">
                    <p class="combi_li_number">第 2 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥50000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade2.png" class="usrgrade usrgrade2">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span>500</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money combi_pay_money_no">
                        <p>付费跟随</p>
                        <p>￥450/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head combi_li_head3">
                    <p class="combi_li_number">第 3 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥20000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade3.png" class="usrgrade">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥400/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 4 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥10000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 5 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥8000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 6 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥6000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 7 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥5000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 8 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥4000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 9 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥3000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
            <li class="combi_li">
                <div class="combi_li_head">
                    <p class="combi_li_number">第 10 名</p>
                    <div class="combi_li_imgbox">
                        <img src="__STATIC__image/combinationHead3.png" class="combi_li_headimg">
                        <img src="__STATIC__image/countryflag/1.png" class="combi_li_country">
                    </div>
                    <div class="combi_perinfo">
                        <p>boi prodoljo...</p>
                        <p>用户ID：0001</p>
                    </div>
                    <p class="combi_reward_num">￥2000.00</p>
                    <p class="combi_reward_text">赛季奖励</p>
                    <p class="combi_date_num">10天</p>
                    <p class="combi_date_text">登榜天数</p>
                </div>
                <div class="combi_li_body">
                    <img src="__STATIC__image/grade4.png" class="usrgrade3">
                    <ul class="combi_user">
                        <li>
                            <p>利润率</p>
                            <p>60%</p>
                        </li>
                        <li>
                            <p>交易时长</p>
                            <p>5周</p>
                        </li>
                        <li>
                            <p>最大回撤</p>
                            <p>23%</p>
                        </li>
                        <li>
                            <p>交易胜率</p>
                            <p>64%</p>
                        </li>
                        <li>
                            <p>预期收益率</p>
                            <p>71%</p>
                        </li>
                        <li>
                            <p>跟随人数</p>
                            <p><span class="combi_with_person">200</span>/500</p>
                        </li>
                    </ul>
                    <div class="combi_pay_money">
                        <p>付费跟随</p>
                        <p>￥300/月</p>
                    </div>
                </div>
            </li>
        </ul>
        <a href="{:url('other/rule')}"><div class="combination_goto2">立即加入</div></a>
    </div>
</div>
{/block}