{extend name="web@base/main"/}
{block name="body"}
    <div class="step" style="height: 850px;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <h1 style="padding-top: 120px;font-size: 42px;"><img src="__STATIC__image/zhihuitou_icon.png" style="width: 50px;height: 50px;margin-top: 0;margin-right: 10px;vertical-align: middle;">
                <span style="vertical-align: middle;">主标/白标服务+跟单社区(送)</span>
            </h1>
            <p style="padding-top: 10px;font-size: 30px;line-height: 50px;">为经纪商提供一站式解决方案<br>
                <span style="display: inline-block;text-align: left;">亿思汇为您提供外汇交易平台技术及一站式解决方案，专属于有意或现已成为外汇经纪商的您。亿思汇全方位照顾客户各方面需求，提供多元跨平台的交易技术，亦带来强大后端系统管理方案，更可完美融合MT4 (Meta Trader) 传统交易平台，使客户交易变得畅通无碍。以低成本，高效益，助您迅速解决外汇交易平台技术。同时在全球已有20多间经纪商成为我们的客户。</span>
            </p>
            <img src="__STATIC__image/baibiao_1.png">
        </div>
    </div>

    <div class="step" style="background-color: #f5f5f5;height: 600px;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <div class="step_l" style="width: 50%;float: left;text-align: left;">
                <p style="font-size: 30px;line-height: 50px;">绝对值得您信赖<br>
                    <span style="display: inline-block;text-align: left;">亿思汇不是您们的竞争对手，亦不会参与外汇销售活动。相反，我们协助外汇经纪商解决交易平台技术及提供多方位后端系统管理方案，助您业务攻守兼备﹑冲上云霄。</span>
                    <img src="__STATIC__image/baibiao_8.png">
                </p>
            </div>
            <div class="step_r" style="width: 50%;float: right;text-align: center;">
                <img src="__STATIC__image/baibiao_2.png">
            </div>
        </div>
    </div>

    <div class="step" style="height: 600px;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <div class="step_l" style="width: 50%;float: left;text-align: center;">
                <img src="__STATIC__image/baibiao_3.png" style="margin-top: 100px;">
            </div>
            <div class="step_r" style="width: 50%;float: right;text-align: left;">
                <p style="font-size: 30px;line-height: 50px;padding-left: 80px;padding-top: 100px;">创造出最好的外汇交易技术<br>
                    <span style="display: inline-block;text-align: left;">亿思汇业务据点遍及全球各主要市场，更特别设立两座专业研究中心，秉持以客为本精神致力提供最优质的外汇交易技术支援服务。我们愿意聆听客户每个需要，与您携手带领业务迈进新纪元。</span>
                </p>
            </div>
        </div>
    </div>

    <div class="step" style="background-color: #f5f5f5;height: 600px;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <div class="step_l" style="width: 50%;float: left;text-align: left;">
                <p style="font-size: 30px;line-height: 50px;padding-top: 100px;">助您以低成本立刻成为外汇经纪商<br>
                    <span style="display: inline-block;text-align: left;">亿思汇是一套专为您品牌而设的外汇交易技术解决方案，让您无须瞻前顾后，迅速开始您的经纪业务。</span>
                </p>
            </div>
            <div class="step_r" style="width: 50%;float: right;text-align: center;">
                <img src="__STATIC__image/baibiao_4.png" style="width: 400px;margin-top: 100px;">
            </div>
        </div>
    </div>

    <div class="step" style="height: 600px;background: url('__STATIC__image/baibiao_5.png') 100%;background-size: cover;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <div class="step_l" style="width: 50%;float: left;text-align: left;">
                <p style="font-size: 30px;line-height: 50px;padding-top: 100px;color: #fff;">拥有您的业务的真正所有权<br>
                    <span style="display: inline-block;text-align: left;color: #fff;">我们为你提供技术，你来全盘决定如何经营，包括佣金及点差。</span>
                </p>
                <!--<a href="javascript:void(0)" class="qq_kefu_a" style="display: block;width: 200px;height: 50px;line-height: 50px;background: #1d6fe0;color: #fff;text-align: center;font-size: 20px;margin-top: 50px;border-radius: 5px;">了解更多</a>-->
            </div>
            <div class="step_r" style="width: 50%;float: right;text-align: center;">
                <img src="__STATIC__image/baibiao_9.png" style="width: 400px;margin-top: 100px;">
            </div>
        </div>
    </div>

    <div class="step" style="background-color: #f5f5f5;height: 600px;">
        <div class="step_inner" style="width: 1100px;margin: 0 auto;">
            <div class="step_l" style="width: 50%;float: left;text-align: left;">
                <p style="font-size: 30px;line-height: 50px;padding-top: 100px;">现在就来亿思汇的顶尖科技<br>
                    <span style="display: inline-block;text-align: left;">请填妥以下的表格，登记我们的免费外汇经纪商咨询服务。我们将会尽快与你联系。</span>
                </p>
                <p style="font-size: 20px;line-height: 36px;padding: 0;"><img src="__STATIC__image/baibiao_6.png" style="margin-top: 0;margin-right: 10px;vertical-align: middle;"><span style="vertical-align: middle;">免费电话：<strong>400-016-0508</strong></span></p>
                <p style="font-size: 20px;line-height: 36px;padding-top: 10px;padding-bottom: 0;"><img src="__STATIC__image/baibiao_7.png" style="margin-top: 0;margin-right: 10px;vertical-align: middle;"><span style="vertical-align: middle;">电子邮箱：<strong>397489035@qq.com</strong></span></p>
            </div>
            <div class="step_r" style="width: 50%;float: left;">
                <input type="text" name="et_pb_contact_name_1" placeholder="您的姓名" style="width: 400px;height: 50px;margin: 0 auto;font-size: 20px;margin-top: 100px;padding: 0 20px;">
                <input type="text" name="et_pb_contact_email_1" placeholder="您的电邮" style="width: 400px;height: 50px;margin: 0 auto;font-size: 20px;margin-top: 10px;padding: 0 20px;">
                <input type="text" name="et_pb_contact_tel_1" placeholder="您的电话" style="width: 400px;height: 50px;margin: 0 auto;font-size: 20px;margin-top: 10px;padding: 0 20px;">
                <textarea name="et_pb_contact_message_1" placeholder="您想了解什么？" style="width: 400px;height: 120px;margin: 0 auto;font-size: 20px;margin-top: 10px;padding: 10px 20px;"></textarea>
                <button id="submit_btn" style="display: block;width: 200px;height: 50px;line-height: 50px;background: #1d6fe0;color: #fff;text-align: center;font-size: 20px;margin-top: 10px;margin-left: 275px;border-radius: 5px;cursor:pointer;">申请咨询</button>
            </div>
        </div>
        <script>
            $('#submit_btn').click(function () {
                var name = $("input[name=et_pb_contact_name_1]").val();
                var tel= $("input[name=et_pb_contact_tel_1]").val();
                var email = $("input[name=et_pb_contact_email_1]").val();
                var message = $("textarea[name=et_pb_contact_message_1]").val();
                if(name==''){
                    win.alert('','请输入您的姓名');
                    return false;
                }
                if(email==''){
                    win.alert('','请输入您的电邮');
                    return false;
                }
                if(tel==''){
                    win.alert('','请输入您的电话');
                    return false;
                }
                if(message==''){
                    win.alert('','请输入您想咨询的内容');
                    return false;
                }
                var postData = {
                    name:name,
                    mobile:tel,
                    email:email,
                    message:message
                };
                $.ajax({
                    type : 'post',
                    dataType : 'json',
                    url : "{:url('other/user_content')}",
                    data : postData,
                    success : function (data) {
                        var json = JSON.parse(data);
                        if (json.code==200) {
                            win.alert('', json.msg);
                            setTimeout("window.location.reload();", 3000);
                        }else {
                            win.alert('', json.msg);
                        }
                    }
                });
            });
        </script>
    </div>
    <style>
        .step{width: 100%;height: 700px;text-align: center;}
        .step p{font-size: 36px;color: #404040;line-height: 68px;padding-top: 60px;}
        .step p span{font-size: 20px;color: #666666;line-height: 36px;}
        .step img{margin-top: 50px;}
        input[type=text] {
            margin: 0;
        }
        input[type=text] {
            padding: 2px;
            border: 1px solid #bbb;
            color: #4e4e4e;
            background-color: #fff;
        }
    </style>
{/block}