<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <title>图表</title>
    <link href="__STATIC__css/order.css" rel="stylesheet">
    <script src="__STATIC__js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="__STATIC__js/echarts.min.js" type="text/javascript"></script>
    <style>
        *{padding:0;margin:0;font-family:Helvetica;font-weight:normal; -webkit-tap-highlight-color:rgba(0,0,0,0);border-width: thin;}
        body{overflow-x:hidden;background-color:#fff; -webkit-overflow-scrolling: touch;overflow-scrolling: touch;font-size:16px;}
        button{border:none;outline:none;}
        div,img,form,ul,li,p,h1,h2,h3,h4,h5,h6,p,dl,dt,dd{margin:0;padding:0;}
        a img,img,a div{border:0;display:block;}
        a{ text-decoration:none;color:#000;cursor:pointer;}
        a:hover,a:active,a:visited{color:#000;}
        ul,li,ol {list-style: none;}
        ul,li{list-style-type:none;}
        ul,ol { padding:0; margin:0;}
        input{ background:no-repeat 0 0 scroll; border:none; outline:medium; letter-spacing: 0.02rem;cursor:pointer;}
        input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {  -webkit-appearance: none;  } 
        body{position:relative;margin:0 auto;padding:0; font-family:"Microsoft Yahei", STXihei;}
        a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)  ;-webkit-tap-highlight-color: transparent;}
        html{width:100%;overflow-x:hidden;}
        body{margin:0;}
        .allchart{width:100%;}
        .allchartTitle{width:100%;font-size:14px;}
        .achievement_radio label{font-size:12px;}
        .or_chart{height: 250px!important;}
        .allchartBox{height: 283px;}
        .charts_tips{font-size:12px;position: absolute;top:38px;left:18px;}
        .charts_tips1{color:#0080ff;}
        .charts_tips2{color:#509f50;}
        .charts_tips3{color:#0080ff;}
        .noaccount{width:100%;}
        .noaccountimg{width:100%;margin:50px auto}
    </style>
</head>
<body>
    <!-- 图表 -->
        <div class="or_body allchart" style="display:block">
            <div class="allchartBox">
                <p class="allchartTitle">利  润</p>
                <div class="chartload">
                        <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart1"></div>
                <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
            <div class="allchartBox">
                <p class="allchartTitle">业  绩</p>
                <div class="achievement_radio">
                    <label>
                        <input name="time" type="radio" value="month">月
                    </label>
                    <label>
                        <input name="time" type="radio" value="week">周
                    </label>
                    <label>
                        <input name="time" type="radio" value="day" checked="checked">日
                    </label>
                </div>
                <div class="chartload">
                        <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart2"></div>
                <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
            <div class="allchartBox">
                <p class="allchartTitle">净  值</p>
                <div class="chartload">
                    <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart3"></div>
                <div class="charts_tips">
                    <p class="charts_tips1">结余，USD</p>
                    <p class="charts_tips2">净值</p>
                </div>
                 <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
            <div class="allchartBox">
                <p class="allchartTitle">浮盈/浮亏</p>
                <div class="chartload">
                    <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart4"></div>
                <div class="charts_tips" style="top:55px;">
                    <p class="charts_tips3">浮盈/<span style="color:#f25137;">浮亏</span>，%</p>
                </div>
                 <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
            <div class="allchartBox">
                <p class="allchartTitle">仓 位</p>
                <div class="chartload">
                    <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart5"></div>
                 <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
            <div class="allchartBox">
                <p class="allchartTitle">品 种</p>
                <div class="chartload">
                    <img src="__STATIC__image/chartloading.gif" class="chartloading">
                </div>
                <div class="or_chart" id="allchart6"></div>
                <div class="charts_tips" style="top:55px;right:36px;">
                    <p style="float:right;color:#0098f0;line-height:10px;margin-left:6px;">Buy</p>
                    <div style="width:10px;height:10px;background:#0098f0;border-radius:4px;float:right;margin-left:10px;"></div>
                    <p style="float:right;color:#f25137;line-height:10px;margin-left:6px;">Sell</p>
                    <div style="width:10px;height:10px;background:#f25137;border-radius:4px;float:right;margin-left:10px;"></div>
                </div>
                 <div class="noaccount">
                    <img src="__STATIC__image/trade4.jpg" class="noaccountimg">
                </div>
            </div>
        </div>
</body>
</html>
<script>
    var account=GetQueryString("id");
    var d = [];
    var chart1_data = [];
    var chart2_data = [];
    var chart3_data = [];
    var chart4_data = [];
    var chart5_data = [];
    var myData = [];
    var databeast = [];
    var databeauty = [];
    var u = '__API__v1.web/history?account=' + account;
    chart1_url = u;
    chart2_url = "__API__v1.web/history_profit?time=day&account=" + account;
    chart3_url = "__API__v1.web/history_total?account=" + account;
    chart4_url = chart3_url;
    chart5_url = chart3_url;
    chart6_url = "__API__v1.web/history_symbol?account=" + account;
    $(function(){
        if(account==0){
            $(".or_chart").remove()
            $(".chartload").remove();
            $(".charts_tips").remove();
        }else{
            $(".noaccount").remove()
            allchart1.chart(chart1_url, "allchart1");
            allchart2.chart(chart2_url, "allchart2");
            allchart3.chart(chart3_url, "allchart3");
            allchart6.chart(chart6_url, "allchart6");
            $("input[value='month']").click(function () {
                allchart2.chart("__API__v1.web/history_profit?time=month&account=" + account, "allchart2");
            });
            $("input[value='week']").click(function () {
                allchart2.chart("__API__v1.web/history_profit?time=week&account=" + account, "allchart2");
            });
            $("input[value='day']").click(function () {
                allchart2.chart("__API__v1.web/history_profit?time=day&account=" + account, "allchart2");
            });
        }
    })
   function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r != null){
        r[2]=r[2].replace(/<.*?>/ig,"");
        }
        if (r != null) return unescape(r[2]); return null;
    }
    var allchart1 = {
        chart: function (geturl, obj) {
            $.ajax({
                url: geturl,
                type: 'get',
                dataType: 'jsonp',
                jsonp: 'callback',
                success: function (data) {
                    if (data.code == 200) {
                        var items = data.data;
                        chart1_data[0] = [0, 0, 0, 0, 0, 0, 0, 0];
                        for (var i = 0; i < items.length; i++) {
                            var ds = Math.abs(Math.round((parseFloat(items[i].close_price) - parseFloat(items[i].open_price)) * Math.pow(10, items[i].dlen)));
                            var type = items[i].op == 1 ? 'sell' : 'buy';
                            if (items[i].commission == '') {
                                var sxf = 0;
                            } else {
                                var sxf = items[i].commission;
                            }
                            if (items[i].swap == null) {
                                var kcf = 0;
                            } else {
                                var kcf = items[i].swap;
                            }
                            chart1_data[i + 1] = [i + 1, chart1_data[i][1] + parseFloat(items[i].profit) + parseFloat(sxf) + parseFloat(kcf), items[i].symbol, type, items[i].lots, items[i].profit, ds];
                        }
                        allchart1.setOption(chart1_data, obj);
                    }
                },
                complete: function () {
                    $("#" + obj).parent().find(".chartload").hide();
                    $("#" + obj).css("visibility", "visible");
                }
            });
        },
        setOption: function (d, obj) {
            var xy = d;
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var option = {
                tooltip: {
                    trigger: 'axis',
                    triggerOn: 'mousemove',
                    formatter: function (params) {
                        var paramsNum = params[0].value;
                        return '<div>品种：' + paramsNum[2] + '<br>类型：' + paramsNum[3] + '<br>手数：' + paramsNum[4] + '<br>获利：' + parseFloat(paramsNum[5]).toFixed(2) + '<br>点数：' + paramsNum[6] + '<br>利润：' + paramsNum[1].toFixed(2) + '</div>';
                    },
                    backgroundColor: '#fff',
                    borderColor: '#008cdd',
                    borderWidth: '1',
                    textStyle: {
                        fontSize: 12,
                        color: '#000'
                    }
                },
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                xAxis: {
                    type: "category",
                    name: "交易",
                    scale: true,
                    axisLine: {
                        onZero: true
                    },
                    data: xy.map(function (item) {
                        return item[0]
                    }),
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '利润',
                        axisLabel: {
                            formatter: '{value} '
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#dfdfdf",
                                type: "dashed"
                            }
                        }
                    }
                ],
                visualMap: {
                    show: false,
                    left: 100,
                    top: 10,
                    pieces: [{
                        gt: 0,
                        lte: 100000,
                        color: '#611987'
                    }],
                    outOfRange: {
                        color: '#611987'
                    }
                },
                series: [
                    {
                        animation: true,
                        animationDuration: 300,
                        name: '交易',
                        type: 'line',
                        smooth: true,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#008cdd'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: '#008cdd'
                                },
                                    {
                                        offset: 1,
                                        color: '#9cd6f7'
                                    }
                                ])
                            }
                        },
                        data: xy.map(function (item) {
                            return item;
                        })
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };

    var allchart2 = {
        chart: function (geturl, obj) {
            $.ajax({
                url: geturl,
                type: 'get',
                dataType: 'jsonp',
                jsonp: "callback",
                success: function (body) {
                    if (body.code == 200) {
                        var data = body.data;
                        chart2_data = [];
                        if (data.length == 0) {
                            chart2_data[0] = [0, 0];
                        } else {
                            for (var i = 0; i < data.length; i++) {
                                chart2_data.push([data[i].date, parseFloat(data[i].profit).toFixed(2)]);
                            }
                        }
                        allchart2.setOption(chart2_data, obj);
                    }
                },
                complete: function () {
                    $("#" + obj).parent().find(".chartload").hide();
                    $("#" + obj).css("visibility", "visible");
                }
            });
        },
        setOption: function (d, obj) {
            var xy = d;
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var option = {
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name: '日期',
                    type: 'category',
                    boundaryGap: true,
                    data: xy.map(function (item) {
                        return item[0]
                    }),
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                yAxis: {
                    name: '利润',
                    type: 'value',
                    splitLine: {
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                visualMap: {
                    show: false,
                    left: 100,
                    top: 10,
                    inRange: {
                        colorLightness: [0.8, 0.4]
                    },
                    pieces: [{
                        gt: 0,
                        lte: 9999999999,
                        color: '#fa4431'
                    }],
                    outOfRange: {
                        color: '#fa4431'
                    },
                    controller: {
                        inRange: {
                            color: '#fa4431'
                        }
                    }
                },
                series: [
                    {
                        name: '利润',
                        type: 'bar',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            normal: {
                                width: 4,
                                arBorderRadius: 20,
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: '#00a2ff'
                                }, {
                                    offset: 1,
                                    color: '#00a2ff'
                                }]),
                                // shadowColor: 'rgba(35,149,229,0.8)',
                                // shadowBlur: 20,
                                areaStyle: { type: 'default' }
                            }
                        },
                        data: xy.map(function (item) {
                            return item[1];
                        }),
                        markLine:
                        {
                            silent: true,
                            lineStyle: {
                                normal: {
                                    type: 'solid',
                                    color: "red",
                                    width: 1.3,
                                    opacity: 0.8
                                }
                            }
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };

    var allchart3 = {
        chart: function (geturl, obj) {
            $.ajax({
                url: geturl,
                type: 'get',
                dataType: 'jsonp',
                jsonp: 'callback',
                success: function (body) {
                    if (body.code == 200) {
                        var data = body.data;
                        chart3_data = [];
                        chart4_data = [];
                        chart5_data = [];
                        if (data.length == 0) {
                            chart3_data[0] = [0, 0, 0];
                            chart4_data[0] = [0, 0];
                            chart5_data[0] = [0, 0];
                        } else {
                            for (var i in data) {
                                var time = new Date(parseInt(data[i].date) * 1000);
                                var date = time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate();
                                chart3_data.push([date, parseFloat(data[i].balance).toFixed(2), parseFloat(data[i].equity).toFixed(2)]);
                                chart4_data.push([date, ((data[i].profit / data[i].balance) * 100).toFixed(2)]);
                                chart5_data.push([date, ((data[i].margin / data[i].equity) * 100).toFixed(2)]);
                            }
                        }
                    }

                },
                complete: function () {
                    allchart3.setOption(chart3_data, obj);
                    allchart4.chart(chart4_url, "allchart4");
                    allchart5.chart(chart5_url, "allchart5");
                    $("#" + obj).parent().find(".chartload").hide();
                    $("#" + obj).css("visibility", "visible");
                }
            });
        },
        setOption: function (d, obj) {
            var xy = d;
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var option = {
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                xAxis: {
                    type: "category",
                    name: "日期",
                    scale: true,
                    axisLine: {
                        onZero: true
                    },
                    data: xy.map(function (item) {
                        return item[0]
                    }),
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '',
                        axisLine: {
                            onZero: true
                        },
                        axisLabel: {
                            formatter: '{value} '
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#dfdfdf",
                                type: "dashed"
                            }
                        }
                    }
                ],
                series: [
                    {
                        animation: true,
                        animationDuration: 300,
                        name: '结余',
                        type: 'line',
                        smooth: true,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#0080ff'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: '#0080ff'
                                },
                                    {
                                        offset: 1,
                                        color: '#fff'
                                    }
                                ])
                            }
                        },
                        data: xy.map(function (item) {
                            return item[1];
                        })
                    },
                    {
                        animation: true,
                        animationDuration: 300,
                        name: '净值',
                        type: 'line',
                        smooth: true,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#7fbf7f'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: '#7fbf7f'
                                },
                                    {
                                        offset: 1,
                                        color: '#fff'
                                    }
                                ])
                            }
                        },
                        data: xy.map(function (item) {
                            return item[2];
                        })
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };

    var allchart4 = {
        chart: function (geturl, obj) {
            allchart4.setOption(chart4_data, obj);
            $("#" + obj).parent().find(".chartload").hide();
            $("#" + obj).css("visibility", "visible");
        },
        setOption: function (d, obj) {
            var xy = d;
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var option = {
                tooltip: {
                    trigger: 'axis',
                    triggerOn: 'mousemove',
                    formatter: function (params) {
                        var paramsNum = params[0].value;
                        if (paramsNum > 0) {
                            return '<span style="background:#0098f0;padding:5px;border-radius:4px;">' + paramsNum + '%</span>';
                        } else {
                            return '<span style="background:#f25137;padding:5px;border-radius:4px;">' + paramsNum + '%</span>';
                        }
                    },
                    backgroundColor: '',
                    borderColor: '',
                    borderWidth: '0',
                    textStyle: {
                        fontSize: 12,
                        color: '#fff'
                    }
                },
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                xAxis: {
                    type: "category",
                    name: "日期",
                    scale: true,
                    axisLine: {
                        onZero: true
                    },
                    data: xy.map(function (item) {
                        return item[0]
                    }),
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '',
                        axisLabel: {
                            formatter: '{value} '
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#dfdfdf",
                                type: "dashed"
                            }
                        }
                    }
                ],
                visualMap: {
                    top: 10,
                    right: 10,
                    show: false,
                    pieces: [
                        {
                            gt: -1000,
                            lte: 0,
                            color: '#f25137'
                        },
                        {
                            gt: 0,
                            lte: 1000,
                            color: '#0098f0'
                        }
                    ]
                },
                series: [
                    {
                        animation: true,
                        animationDuration: 300,
                        name: '浮盈/浮亏',
                        type: 'line',
                        smooth: true,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#f25137'
                            }
                        },
                        // areaStyle: {
                        //   normal: {
                        //     color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        //       offset: 0,
                        //       color: '#008cdd'
                        //     },
                        //     {
                        //       offset: 1,
                        //       color: '#9cd6f7'
                        //     }
                        //     ])
                        //   }
                        // },
                        data: xy.map(function (item) {
                            return item[1];
                        })
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };

    var allchart5 = {
        chart: function (geturl, obj) {
            allchart5.setOption(chart5_data, obj);
            $("#" + obj).parent().find(".chartload").hide();
            $("#" + obj).css("visibility", "visible");
        },
        setOption: function (d, obj) {
            var xy = d;
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var option = {
                tooltip: {
                    trigger: 'axis',
                    triggerOn: 'mousemove',
                    formatter: function (params) {
                        var paramsNum = params[0].value;
                        return params[0].value + '%';
                    },
                    backgroundColor: '#0080ff',
                    borderWidth: '0',
                    textStyle: {
                        fontSize: 12,
                        color: '#fff'
                    }
                },
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                xAxis: {
                    type: "category",
                    name: "日期",
                    scale: true,
                    axisLine: {
                        onZero: true
                    },
                    data: xy.map(function (item) {
                        return item[0]
                    }),
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '仓位,%',
                        nameTextStyle: {
                            color: '#0080ff'
                        },
                        axisLabel: {
                            formatter: '{value} '
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#dfdfdf",
                                type: "dashed"
                            }
                        }
                    }
                ],
                visualMap: {
                    top: 10,
                    right: 10,
                    show: false,
                    pieces: [{
                        gt: 0,
                        lte: 50,
                        color: '#0080ff'
                    }, {
                        gt: 50,
                        lte: 10000,
                        color: '#0080ff'
                    }],
                    outOfRange: {
                        color: '#f25137'
                    }
                },
                series: [
                    {
                        animation: true,
                        animationDuration: 300,
                        name: '浮盈/浮亏，%',
                        type: 'line',
                        smooth: true,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#00a2ff'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: '#8fc7ff'
                                },
                                    {
                                        offset: 1,
                                        color: '#fff'
                                    }
                                ])
                            }
                        },
                        data: xy.map(function (item) {
                            return item[1];
                        })
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };

    var allchart6 = {
        chart: function (geturl, obj) {
            $.ajax({
                url: geturl,
                type: 'get',
                dataType: 'jsonp',
                jsonp: 'callback',
                success: function (body) {
                    if (body.code == 200) {
                        var data = body.data;
                        myData = [];
                        databeast = [];
                        databeauty = [];
                        if (data == null) {
                            myData[0] = [0];
                            databeast[0] = 0;
                            databeauty[0] = -0;
                        } else {
                            for (var i in data) {
                                myData.push([data[i].symbol + '(' + data[i].num + ')']);
                                databeauty.push(-data[i].buy);
                                databeast.push(data[i].sell);
                            }
                        }
                        allchart6.setOption(myData, databeast, databeauty, obj);
                    }
                },
                complete: function () {
                    $("#" + obj).parent().find(".chartload").hide();
                    $("#" + obj).css("visibility", "visible");
                    $(obj).next().show();
                }
            });
        },
        setOption: function (myData, databeast, databeauty, obj) {
            var dom = document.getElementById(obj);
            var myChart = echarts.init(dom);
            var xAxisData = [];
            var itemStyle = {
                normal: {
                    color: '#0098f0'
                },
                emphasis: {
                    barBorderWidth: 1,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0,0,0,0.5)'
                }
            };
            var itemStyle2 = {
                normal: {
                    color: '#f25137'
                },
                emphasis: {
                    barBorderWidth: 1,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0,0,0,0.5)'
                }
            };
            var option = {
                backgroundColor: '#fff',
                legend: {
                    y: 'bottom',
                    data: ['进', '出']
                },
                tooltip: {
                    formatter: function (params) {
                        if (params.value < 0) {
                            return 'Buy: ' + -params.value
                        } else {
                            return 'Sell: ' + params.value
                        }
                    }
                },
                xAxis: {
                    data: xAxisData,
                    name: '品种',
                    silent: false,
                    type: 'category',
                    data: myData
                },
                yAxis: [{
                    inverse: true,
                    name: '',
                    axisLabel: {
                        formatter: function (value) {
                            if (value < 0) {
                                return -value
                            } else {
                                return value
                            }
                        }
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }

                }, {
                    inverse: true,
                    name: '数量',
                    position: 'left',
                    nameLocation: 'start',
                    splitArea: {
                        show: false
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: "#dfdfdf",
                            type: "dashed"
                        }
                    }
                }],
                grid: {
                    left: 50,
                    right: 40,
                    top: 50,
                    bottom: 50,
                },
                series: [{
                    name: '数量',
                    type: 'bar',
                    stack: 'one',
                    itemStyle: itemStyle2,
                    data: databeast
                }, {
                    name: '品种',
                    type: 'bar',
                    stack: 'one',
                    itemStyle: itemStyle,
                    data: databeauty
                }]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);

            }
        }
    };
</script>