{extend name="web@base/main"/}
{block name="body"}
<style>
    .createlivemain{width:100%;background: #f3f3f3;}
    .createlive{width:1150px;margin:0 auto;background: #fff;padding:25px;margin-top:48px;}
    .createlivehead1{font-size:24px;color:#333333;text-align: center;}
    .createlivehead1bg{width:1150px;margin:10px auto;display:block;}
    .createlivehead2text{width:392px;margin:20px auto 30px;display:block;}
    .createlivehead2{text-align: center;font-size:18px;color:#333333;font-weight: bold;}
    .createlivehead3{text-align: left;font-size:16px;color:#333333;line-height: 30px;}
    .specialtext{color:#611987}
    .howtocreateliveicon{display:block;margin:20px auto;}
</style>
<div class="createlivemain">
    <div class="createlive">
        <p class="createlivehead1">免费搭建一个属于自己的外汇跟单平台【教程】</p>
        <img src="__STATIC__image/createlivehead1.png" class="createlivehead1bg">
        <img src="__STATIC__image/createlivehead2text.png" class="createlivehead2text">
        <p class="createlivehead2">免费的<span class="specialtext">直播室</span>功能，免费的<span class="specialtext">用户流量</span></p>
        <img src="__STATIC__image/howtocreatelive1.jpg" class="howtocreateliveicon">
        <p class="createlivehead2">免费的<span class="specialtext">信号展示</span>功能，免费的<span class="specialtext">收费系统</span>，免费的<span class="specialtext">经纪商限定系统</span>，免费的<span class="specialtext">引导开户系统</span></p>
        <img src="__STATIC__image/howtocreatelive2.jpg" class="howtocreateliveicon">
        <p class="createlivehead2">免费的 <span class="specialtext">MAM 资管</span>系统</p>
        <img src="__STATIC__image/howtocreatelive3.jpg" class="howtocreateliveicon">
        <img src="__STATIC__image/howtocreatehead4bg.jpg" class="howtocreateliveicon">
        <p class="createlivehead3">1.  访问<a class="specialtext" style="cursor: pointer;" href="__HTTP__" target="_blank">__HTTP__</a>站点，注册一个账号（QQ一键注册，非常简单）</p>
        <img src="__STATIC__image/howtocreatelive4.jpg" class="howtocreateliveicon">
        <p class="createlivehead3">2.  点击“创建工作室”，填写你想展现的联系方式和工作室logo</p>
        <p class="createlivehead3" style="padding-left:15px;">（LOGO会展现在交易大厅的，越漂亮越好，如果自己不会做可以联系客服MM，为你打造一个养眼的工作室LOGO）</p>
        <img src="__STATIC__image/howtocreatelive5.jpg" class="howtocreateliveicon">
        <p class="createlivehead3">3.  工作室创建成功</p>
        <p class="createlivehead3" style="padding-left:15px;">3.1 此时你需要激活你的直播室功能，按照引导注册一下就好了。</p>
        <p class="createlivehead3" style="padding-left:15px;">3.2 然后上传你的信号，信号分为几种模式：共享的，收费的，指定平台的，指定链接的。当然如果你没有信号，也可以转载平台的共享信号，作为自己的营销</p>
        <p class="createlivehead3" style="padding-left:45px;">工具。（核弹信号白菜价哦！）</p>
        <p class="createlivehead3" style="padding-left:15px;">3.3 资管产品，可以向更多用户展现你的交易逻辑和让更多用户直接投资你的交易(当然这也是跨平台的，不涉及本金来往哦),同时你也可以获得更多交易收益。</p>
        <img src="__STATIC__image/howtocreatelive6.jpg" class="howtocreateliveicon">
        <p class="createlivehead3">这一切都是<span class="specialtext">免费的</span>，激不激动，心不心动，那就赶快创建属于自己的跟单工作室吧！从这里进哦 <a class="specialtext" style="cursor: pointer;" href="__HTTP__" target="_blank">__HTTP__</a></p>
    </div>
</div>
{/block}