{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇出金流程-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}

    .main_inner h2{margin-bottom: 30px;}
    .main_inner h4{margin-top: 50px;}
    .main_inner img{width: 80%;margin-bottom: 5px;margin-left: 10%;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>AUSFOREX银联入金指南</h2>
        <h4>1.登录账户会员区</h4>
        <img src="__STATIC__image/protocol12_01.png">
        <h4>2.点击【及时入金】</h4>
        <img src="__STATIC__image/protocol12_02.png">
        <h4>3.跳转至账户会员区入金界面，填写入金金额</h4>
        <img src="__STATIC__image/protocol12_03.png">
        <h4>4.输入账户持有人本人银行卡卡号</h4>
        <img src="__STATIC__image/protocol12_04.png">
        <h4>5.请您务必仔细阅读此页面信息后，点击【打开网银转账】</h4>
        <img src="__STATIC__image/protocol12_05.png">
        <h4>6.跳转至银行界面下载并安装网银插件后登录网上个人银行，由于不同银行网银插件及登录个人网上银行方式不同，具体登录操作流程请您根据银行界面提示或咨询银行工作人员进行操作（以下以招商银行为例）。</h4>
        <img src="__STATIC__image/protocol12_06.png">
        <h4>7.下载安装完成并点击招行网银图标，插入网银</h4>
        <img src="__STATIC__image/protocol12_07.png">
        <img src="__STATIC__image/protocol12_08.png">
        <h4>8.请您输入的人民币转账金额务必与您提交美金时所对应的人民币金额保持一致，避免资金到账延迟或无法到账等问题</h4>
        <img src="__STATIC__image/protocol12_09.png">
        <h4>9. 入金操作完成</h4>
        <img src="__STATIC__image/protocol12_10.png">
        <img src="__STATIC__image/protocol12_11.png">
        <br>
    </div>
</div>
{/block}