{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇出金流程-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}

    .main_inner h2{margin-bottom: 30px;}
    .main_inner h4{margin-top: 50px;}
    .main_inner img{width: 100%;margin-bottom: 5px;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>AUSFOREX反洗钱协议</h2>
        <p>POLICY STATEMENT AND PRINCIPLES</p>
        <p>政策声明和原则</p><br>
        <p>In compliance with The Financial Intelligence and Anti-Money Laundering Act 2002 (FIAMLA
            2002), the Prevention of Corruption Act 2002 (POCA 2002) and the Prevention of Terrorism Act
            2002 (POTA 2002), AUSFOREX ("AUSFOREX") have adopted an Anti-Money Laundering (AML)
            compliance policy ("Policy") as set forth in the Board minutes.</p>
        <p>在与2002年金融情报和反洗钱法（FIAMLA 2002），2002年防止腐败法（POCA 2002）和2002年防止恐
            怖主义法（POTA 2002），AUSFOREX（“AUSFOREX”）的规定，已通过了反洗钱（AML）的合规政策（“政
            策”）为载于董事会会议记录。</p><br>
        <p>SCOPE OF POLICY</p>
        <p>政策范围</p><br>
        <p>This policy applies to all AUSFOREX officers, employees, appointed producers and products and
            services offered by AUSFOREX. All business units and locations within AUSFOREX will cooperate
            to create a cohesive effort in the fight against money laundering. Each business unit and location
            has implemented risk-based procedures reasonably expected to prevent, detect and cause the
            reporting of transactions required under the FIAMLA. All efforts exerted will be documented and
            retained in accordance with the FIAMLA. The AML Compliance Committee is responsible for
            initiating Suspicious Activity Reports ("SARs") or other required reporting to the appropriate law
            enforcement or regulatory agencies. Any contacts by law enforcement or regulatory agencies
            related to the Policy shall be directed to the AML Compliance Committee.</p>
        <p>本政策适用于所有AUSFOREX人员、雇员、任命生产者和AUSFOREX所提供的产品和服务内，AUSFOREX
            所有业务单位将努力合作打击洗钱。各业务单位实施合理预期为基础的程序，以防止，检测，并导致报告
            根据FIAMLA所需的交易风险。产生的一切努力将被记录，并按照FIAMLA保留。启动可疑活动报告
            （“SARs”）或其他所需的报告，以适当的执法或监管机构负责反洗钱合规委员会。由执法部门或监管机构
            相关政策的任何接触应报告给反洗钱合规委员会。</p><br>
        <p>POLICY</p>
        <p>政策</p><br>
        <p>It is the policy of AUSFOREX to prohibit and actively pursue the prevention of money laundering
            and any activity that facilitates money laundering or the funding of terrorist or criminal activities.
            AUSFOREX is committed to AML compliance in accordance with applicable law and requires its
            officers, employees and appointed producers to adhere to these standards in preventing the use
            of its products and services for money laundering purposes. For the purposes of the Policy,
            money laundering is generally defined as engaging in acts designed to conceal or disguise the
            true origins of criminally derived proceeds so that the unlawful proceeds appear to have been
            derived from legitimate origins or constitute legitimate assets.</p>
        <p>AUSFOREX的政策是禁止和预防洗钱和洗钱或资助恐怖活动或犯罪活动的任何活动，有利于积极追求。
            AUSFOREX是致力于反洗钱合规，按照适用的法律，并要求其职员，雇员，并任命生产者遵守这些标准，
            在防止使用其产品和服务为洗钱目的。对于该政策的目的，洗钱通常被定义为从事设计隐瞒或掩饰犯罪所
            得收益，使违法所得的，似乎已经从合法来源的，或构成合法资产的真正起源的行为。</p><br>
        <p>Generally, money laundering occurs in three stages. Cash first enters the financial system at the
            "placement" stage, where the cash generated from criminal activities is converted into monetary
            instruments, such as money orders or traveller’s checks, or deposited into accounts at financial
            institutions. At the "layering" stage, the funds are transferred or moved into other accounts or
            other financial institutions to further separate the money from its criminal origin. At the
            "integration" stage, the funds are reintroduced into the economy and used to purchase legitimate
            assets or to fund other criminal activities or legitimate businesses. Terrorist financing may not
            involve the proceeds of criminal conduct, but rather an attempt to conceal the origin or intended
            use of the funds, which will later be used for criminal purposes.</p>
        <p>一般情况下，洗钱发生在三个阶段。现金首先在“安排”阶段进入金融体系，从犯罪活动产生的现金转换
            成货币工具，如汇票或旅行支票，或存放到金融机构的账户。在“分层”的阶段，资金转移或移动到其他
            账户或其他金融机构进一步分离其犯罪来源的金钱。在“整合”阶段，资金重新进入经济和用于购买合法
            的资产或资金等违法犯罪活动或合法企业。恐怖分子筹资活动不得涉及犯罪行为的收益，而是企图隐瞒的
            原产地或打算使用的资金，稍后将被用于犯罪目的。</p><br>
        <p>AML COMPLIANCE COMMITTEE</p>
        <p>反洗钱合规委员会</p><br>
        <p>The AML Compliance Committee, with full responsibility for the Policy shall be comprised of the
            General Counsel; Chief Compliance Officer, AUSFOREX; Deputy Compliance Officer, AUSFOREX;
            Assistant Vice President-Internal Audit, and Corporate Attorney. The Chief Compliance Officer
            shall also hold the title Chief AML Officer, and shall have authority to sign as such. The duties of
            the AML Compliance Committee with respect to the Policy shall include, but are not limited to,
            the design and implementation of as well as updating the Policy as required; dissemination of
            information to officers, employees and appointed producers of AUSFOREX, training of officers,
            employees and appointed producers; monitoring the compliance of AUSFOREX operating units
            and appointed producers, maintaining necessary and appropriate records, filing of SARs when
            warranted; and independent testing of the operation of the Policy. Each AUSFOREX business unit
            shall appoint a contact person to interact directly with the AML Compliance Committee to assist
            the Committee with investigations, monitoring and as otherwise requested.</p>
        <p>反洗钱合规委员会，为政策的全部责任，应当由总法律顾问，首席合规官，AUSFOREX副监察主任，
            AUSFOREX助理副总裁，内部审计和公司律师。首席合规官还应当持有标题反洗钱行政主任，并应签署这
            样的权威。与政策方面的反洗钱合规委员会的职责包括，但不仅限于设计和实施，以及更新所需的政策；
            信息传播的管理人员，员工和AUSFOREX任命生产者，培训管理人员，雇员，并任命生产者；监测AUSFOREX
            经营单位的情况，并任命生产者，保持必要和适当的记录，需要时提交的特别行政区；和政策的运作独立
            的测试。每个AUSFOREX业务单位应指派一名联络人直接互动与反洗钱合规委员会，以协助调查，监测和
            另有要求委员会。</p><br>
        <p>CUSTOMER IDENTIFICATION PROGRAM</p>
        <p>客户识别程序</p><br>
        <p>AUSFOREX has adopted a Customer Identification Program (CIP). AUSFOREX will provide notice
        that they will seek identification information; collect certain minimum customer identification
        information from each customer, record such information and the verification methods and
        results; and compare customer identification information with OFAC.</p>
        <p>AUSFOREX采取了客户识别计划（CIP）。AUSFOREX将提供通知，他们将从每个客户收取一定的最低的客
        户身份信息，记录等寻求识别信息，并与OFAC核查客户身份信息结果。</p><br>
        <p>NOTICE TO CUSTOMERS</p>
        <p>客户须知</p><br>
        <p>AUSFOREX will provide notice to customers that it is requesting information from them to verify
        their identities, as required by applicable law.</p>
        <p>AUSFOREX将提供通知给客户，要求他们提供信息，以验证他们的身份，作为适用法律的规定。</p><br>
        <p>VERIFYING INFORMATION</p>
        <p>核实信息</p><br>
        <p>Based on the risk, and to the extent reasonable and practicable, AUSFOREX will ensure that it has
        a reasonable belief of the true identity of its customers. In verifying customer identity, appointed
        producers shall review photo identification. AUSFOREX shall not attempt to determine whether
        the document that the customer has provided for identification has been validly issued. For
        verification purposes, AUSFOREX shall rely on a government-issued identification to establish a
        customer's identity. AUSFOREX, however, will analyze the information provided to determine if
        there are any logical inconsistencies in the information obtained. AUSFOREX will document its
        verification, including all identifying information provided by the customer, the methods used
        and results of the verification, including but not limited to sign-off by the appointed producer of
        matching photo identification.</p>
        <p>根据风险的程度上是合理和可行的，AUSFOREX将确保它有合理理由相信其客户的真实身份。在核实客户
        身份，委任执行者应当审查照片的身份证明。AUSFOREX不得企图以确定是否客户提供用于识别的文件已
        有效发出。为了核实目的，AUSFOREX应依靠政府颁发的身份证，以确立顾客的身份。然而，AUSFOREX
        将分析提供的信息，以确定是否有在所获得的信息中有任何逻辑上的不一致。AUSFOREX将核查的文件包
        括所有确定由客户提供的信息，使用的方法及核查结果，包括但不限于签署通过任命执行者匹配照片的身
        份证明。</p><br>
        <p>CUSTOMERS WHO REFUSE TO PROVIDE INFORMATION</p>
        <p>那些拒绝提供信息的客户</p><br>
        <p>If a customer either refuses to provide the information described above when requested, or
        appears to have intentionally provided misleading information, the appointed agent shall notify
        their New Business team. The AUSFOREX New Business team will decline the application and
        notify the AML Compliance Committee.</p>
        <p>如果客户拒绝提供上文所述的信息请求时，或出现故意提供误导性信息，获委任的代理人应当通知其新的
        业务团队。AUSFOREX新的业务团队将拒绝该申请，并通知反洗钱合规委员会。</p><br>
        <p>CHECKING THE OFFICE OF FOREIGN ASSETS CONTROL ("OFAC") LIST</p>
        <p>检查的外国资产控制办公室（OFAC）名单</p><br>
        <p>For all (1) new applications received and on an ongoing basis, (2) disbursements (3) new
        producers appointed or (4) new employees, AUSFOREX will check to ensure that a person or
        entity does not appear on Treasury's OFAC "Specifically Designated Nationals and Blocked
        Persons" List (SDN List) and is not from, or engaging in transactions with people or entities from,
        embargoed countries and regions listed on the OFAC Web Site. AUSFOREX shall contract with
        World-Check to ensure speed and accuracy in the checks. AUSFOREX will also review existing
        policyholders, producers and employees against these lists on a periodic basis. The frequency of
        the reviews will be documented and retained. In the event of a match to the SDN List or other
        OFAC List, the business unit will conduct a review of the circumstances where such match has
        been identified. If the business unit is unable to confirm that the match is a false positive, the AML
        Committee shall be notified.</p>
        <p>对于所有的（1）收到和持续进行的新事情，（2）付款，（3）新任命的管理者，（4）新员工，AUSFOREX
        将检查确保，一个人或实体并没有出现在财政部的外国资产管理处，专门指定国民和封锁的人的名单（SDN
        名单），或从事与人或实体的交易，是不是禁运的国家和地区的外国资产管理处的网站上列出。AUSFOREX
        应与World – Check一起确保在检查的速度和准确性。AUSFOREX也将定期审查对这些名单上现有保单持
        有人，生产商和员工。评论的频率会被记录和保存。业务单位将对SDN名单或其他OFAC名单进行对比，
        如果发现符合的名单将被审查。如果对比后无法确认非法，反洗钱委员会收到通知。</p><br>
        <p>MONITORING AND REPORTING</p>
        <p>监测和报告</p><br>
        <p>Transaction based monitoring will occur within the appropriate business units of AUSFOREX.
        Monitoring of specific transactions will include but is not limited to transactions aggregating
        $5,000 or more and those with respect to which AUSFOREX has a reason to suspect suspicious
        activity. All reports will be documented and retained in accordance with the FIAMLA
        requirements.</p>
        <p>基于事务的监控将出现在AUSFOREX合适的业务单位的。具体交易的监测，包括但不仅限于AUSFOREX有
        一个理由来怀疑的可疑活动的聚集$ 5,000或以上，而那些交易所有报告都将记录在案，并按照FIAMLA要
        求保留。</p><br>
        <p>SUSPICIOUS ACTIVITY</p>
        <p>可疑活动</p><br>
        <p>There are signs of suspicious activity that suggest money laundering. These are commonly
        referred to as "red flags." If a red flag is detected, additional due diligence will be performed
        before proceeding with the transaction. If a reasonable explanation is not determined, the
        suspicious activity shall be reported to the AML Compliance Committee. Examples of red flags
        are:</p>
        <p>有洗钱的可疑活动的迹象表明。这些通常被称为“红旗”。如果检测到一个红色的标志是，在进行交易前将
        进行额外的尽职调查。如果没有确定一个合理的解释是，可疑活动，应当报反洗钱合规委员会。红旗的例
        子：</p><br>
        <p>The customer exhibits unusual concern regarding the firm's compliance with government
        reporting requirements and the firm's AML policies, particularly with respect to his or her identity,
        type of business and assets, or is reluctant or refuses to reveal any information concerning
        business activities, or furnishes unusual or suspect identification or business documents.</p>
        <p>客户表现出不同寻常的关注与政府的报告要求该公司遵守 公司的反洗钱政策，特别是尊重他或她的身份，
        业务和资产类型，或不愿或拒绝透露任何有关商业活动的信息，或提供不寻常的或可疑的身份证明或商业
        文件。</p><br>
        <p>The customer wishes to engage in transactions that lack business sense or apparent investment
        strategy, or are inconsistent with the customer's stated business strategy.</p>
        <p>客户希望从事交易，缺乏商业意识的或明显的投资策略，或与客户的业务战略不一致。</p><br>
        <p>The information provided by the customer that identifies a legitimate source for funds is false,
        misleading, or substantially incorrect.</p>
        <p>由客户确定了资金的合法来源提供的信息是虚假，误导，或在相当程度上不正确的。</p><br>
        <p>Upon request, the customer refuses to identify or fails to indicate any legitimate source for his or
        her funds and other assets.</p>
        <p>根据要求，客户拒绝确定或未能表明他或她的资金和其他资产的任何合法来源。</p><br>
        <p>The customer (or a person publicly associated with the customer) has a questionable background
        or is the subject of news reports indicating possible criminal, civil, or regulatory violations.</p>
        <p>客户（或公开与客户相关的人）有一个可疑的背景，或者是可能的刑事，民事，或监管侵犯的新闻报告的
        主题。</p><br>
        <p>The customer exhibits a lack of concern regarding risks, commissions, or other transaction costs.</p>
        <p>顾客展品缺乏有关的风险，佣金，或其他交易成本关注。</p><br>
        <p>The customer appears to be acting as an agent for an undisclosed principal, but declines or is
        reluctant, without legitimate commercial reasons, to provide information or is otherwise evasive
        regarding that person or entity.</p>
        <p>似乎是作为一个未公开的主要的代理客户，但拒绝或不愿意，没有正当的商业理由，提供信息或以其他方
        式回避有关该人或实体。</p><br>
        <p>The customer has difficulty describing the nature of his or her business or lacks general
        knowledge of his or her industry.</p>
        <p>客户有困难，描述他或她的商业性质或缺乏他或她的行业的一般知识。</p><br>
        <p>The customer attempts to make frequent or large deposits of currency, insists on dealing only in
        cash equivalents, or asks for exemptions from the firm's policies relating to the deposit of cash
        and cash equivalents.</p>
        <p>客户试图使频繁的货币或大额存款，坚持只涉及在现金等价物，或要求豁免有关的现金和现金等价物存款
        的公司的政策。</p><br>
        <p>The customer engages in transactions involving cash or cash equivalents or other monetary
        instruments that appear to be structured to avoid the $10,000 government reporting
        requirements, especially if the cash or monetary instruments are in an amount just below
        reporting or recording thresholds.</p>
        <p>客户从事交易涉及现金或现金等价物或其他货币政策工具，出现结构，以避免1万美元的政府报告的要求，
        特别是如果现金或货币工具略低于报告或记录阈值量。</p><br>
        <p>For no apparent reason, the customer has multiple accounts under a single name or multiple
        names, with a large number of inter-account or third-party transfers.</p>
        <p>没有明显的原因，客户有多个账户下单的名称或多个名称，用大量跨账户或第三方转让。</p><br>
        <p>The customer is from, or has accounts in, a country identified as a non-cooperative country or
        territory by the Financial Action Task Force.</p>
        <p>客户，或账户，作为一个非合作的国家或地区确定由一个国家金融行动特别工作组。</p><br>
        <p>The customer's account has unexplained or sudden extensive wire activity, especially in accounts
        that had little or no previous activity.</p>
        <p>客户的账户有不明原因或突发性的广泛线活动，尤其是在以前很少或根本没有活动的账户。</p><br>
        <p>The customer's account shows numerous currency or cashier’s check transactions aggregating to
        significant sums.</p>
        <p>客户的账户显示了大量的货币或银行本票交易聚集到大量的资金。</p><br>
        <p>The customer's account has a large number of wire transfers to unrelated third parties
        inconsistent with the customer's legitimate business purpose.</p>
        <p>客户的账户有大量不符合客户的合法商业目的无关的第三方电汇。</p><br>
        <p>The customer's account has wire transfers that have no apparent business purpose to or from a
        country identified as money laundering risk or a bank secrecy haven.</p>
        <p>客户的账户，电汇，有没有明显的商业目的或由一个国家确定为洗钱风险或银行保密天堂。</p><br>
        <p>The customer's account indicates large or frequent wire transfers, immediately withdrawn by
        check or debit card without any apparent business purpose.</p>
        <p>没有任何明显的商业目的，客户的账户显示较大或频繁的电汇，立即撤回支票或借记卡。</p><br>
        <p>The customer makes a funds deposit followed by an immediate request that the money be wired
        out or transferred to a third party, or to another firm, without any apparent business purpose.</p>
        <p>没有任何明显的商业目的，客户立即要求将存款资金转让给第三方，或到另一家公司。</p><br>
        <p>The customer makes a funds deposit for the purpose of purchasing a long-term investment
        followed shortly thereafter by a request to liquidate the position and transfer of the proceeds out
        of the account.</p>
        <p>客户请求清算中的地位和转让的收益账户，此后不久，其次为购买长期投资的目的的资金存款。</p><br>
        <p>The customer engages in excessive journal entries between unrelated accounts without any
        apparent business purpose.</p>
        <p>从事客户没有任何明显的商业目的无关的账户之间的过度日记条目。</p><br>
        <p>The customer requests that a transaction be processed in such a manner to avoid the firm's
        normal documentation requirements.</p>
        <p>交易以这种方式处理，以避免该公司的正常文件要求的客户请求。</p><br>
        <p>The customer, for no apparent reason or in conjunction with other red flags, engages in
        transactions involving certain types of securities, such as penny stocks, and bearer bonds, which
        although legitimate, have been used in connection with fraudulent schemes and money
        laundering activity. (Such transactions may warrant further due diligence to ensure the legitimacy
        of the customer's activity.)</p>
        <p>客户没有明显的理由，或联同其他红旗，从事涉及某些类型的证券，如细价股和无记名债券，这虽然是合
        法的，已经诈骗勾当和洗钱活动的连接交易（这样的交易可能需要进一步的尽职调查，以确保客户的活动
        的合法性）。</p><br>
        <p>The customer's account shows an unexplained high level of account activity with very low levels
        of securities transactions.</p>
        <p>客户的账户活动显示了原因不明的高层次的证券交易非常低的水平。</p><br>
        <p>Attempt to borrow maximum cash value of a single premium policy soon after purchase.</p>
        <p>尝试借钱购买后不久的一个单一的地价政策的最大现金价值。</p><br>
        <p>If the appointed producer:</p>
        <p>如果指定生产商：</p><br>
        <p>Exhibits a dramatic or unexpected increase in sales (particularly of single premium contacts)</p>
        <p>具有戏剧性的或意外的的销售增加</p><br>
        <p>Has consistently high activity in single premium contracts in excess of company averages</p>
        <p>在一贯的高活性超过公司平均单期保费合同</p><br>
        <p>Exhibits a sudden change in lifestyle</p>
        <p>展品在生活方式的突然改变</p><br>
        <p>Requests client documentation be delivered to the agent</p>
        <p>请求的客户机文件传送到代理</p><br>
        <p>INVESTIGATION</p>
        <p>调查</p><br>
        <p>Upon notification to the AML Compliance Committee of a match to the OFAC SDN List or
        possible suspicious activity, an investigation will be commenced to determine if a report should
        be made to appropriate law enforcement or regulatory agencies. The investigation will include,
        but not necessarily be limited to, review of all available information, such as payment history,
        birth dates, and address. If the results of the investigation warrant, a recommendation will be
        made to the AML Compliance Committee to file a blocked assets and/or a SAR with the
        appropriate law enforcement or regulatory agency. The AML Compliance Committee is
        responsible for any notice or filing with law enforcement or regulatory agency. Investigation
        results will not be disclosed or discussed with anyone other than those who have a legitimate
        need to know. Under no circumstances shall any officer, employee or appointed agent disclose or
        discuss any AML concern, investigation, notice or SAR filing with the person or persons subject of
        such, or any other person, including members of the officer's, employee's or appointed agent's
        family.</p>
        <p>OFAC SDN名单或可疑活动可能匹配的反洗钱合规委员会的通知后，将展开调查，以确定是否一个报告应
        作出相应的执法部门或监管机构调查将包括，但不一定限于，所有可用的信息，如付款记录，出生日期，
        地址，审查如果保证调查的结果，建议将反洗钱合规委员会的文件与相应的执法部门或监管机构封锁的资
        产和/或特区。反洗钱合规委员会，负责与执法部门或监管机构的任何通知或备案调查结果将不会被透露或
        讨论比那些有合法需要知道其他人。在任何情况下，任何高级人员，雇员或委任代理人披露或讨论任何反
        洗钱的关注，调查，通知或特区政府提交的人或对此类专题的人，或任何其他人，包括有关人员的成员，
        雇员或指定代理人的家庭。</p><br>
        <p>RECORDKEEPING</p>
        <p>记录保存</p><br>
        <p>The AML Compliance Committee will be responsible to ensure that AML records are maintained
        properly and that SARs and Blocked Property Reports are filed as required. AUSFOREX will
        maintain AML records for at least five years.</p>
        <p>反洗钱合规委员会将负责，以确保反洗钱纪录保持正确SARS和阻止的财产报告的规定提交。AUSFOREX
        将维持至少五年的反洗钱记录。</p><br>
        <p>TRAINING</p>
        <p>培训</p><br>
        <p>AUSFOREX shall provide general AML training to its officers, employees and appointed producers
        to ensure awareness of requirements under the FIAMLA. The training will include, at a minimum:
        how to identify red flags and signs of money laundering; what roles the officers, employees and
        appointed producers have in the AUSFOREX compliance efforts and how to perform such duties
        and responsibilities; what to do once a red flag or suspicious activity is detected; AUSFOREX
        record retention policy; and the disciplinary consequences for non-compliance with the Act and
        this Policy. In addition, each affected area will provide enhanced training in accordance with the
        procedures developed in each area for officers and employees reasonably expected to handle
        money, requests, or processing that may bring them into contact with information designated
        above. Training will be conducted on an annual basis. The AUSFOREX AML Compliance
        Committee will determine the ongoing training requirements and ensure written procedures are
        updated to reflect any changes required in such training. AUSFOREX will maintain records to
        document that training has occurred.</p>
        <p>AUSFOREX应当提供其职员，雇员，并任命生产者一般反洗钱培训，以确保在FIAMLA要求的认识。培训
        至少将包括：如何识别红旗和洗钱的迹象；什么样角色的管理人员，雇员，并任命的管理者遵守，以及如
        何履行这些职责和责任；怎样做一次红色检测标志或可疑活动；AUSFOREX记录保留政策；法“和本政策
        不遵守纪律的后果。此外，每个受影响的地区将按照在每个领域的开发人员和员工，合理的预期处理钱的
        请求，或处理可能使他们接触到上述指定的信息程序提供强化培训。训练课程将在每年的基础上进行。
        AUSFOREX反洗钱合规委员会将确定持续的培训要求，并确保书面程序更新，以反映这种培训所需的任何
        更改。AUSFOREX将保留已发生培训的文档。</p><br>
        <p>TESTING OF THE POLICY</p>
        <p>测试策略</p><br>
        <p>The testing of the Policy will be conducted by an outside independent third party annually. Any
        findings will be reported to the AML Compliance Committee, SFG Audit Committee and Senior
        Management for appropriate action.</p>
        <p>由外部独立的第三方，每年将进行测试政策。任何结果将上报反洗钱合规委员会，SFG审计委员会和高级
        管理人员，以便采取适当行动。</p><br>
        <p>ADMINISTRATION</p>
        <p>政务</p><br>
        <p>The AML Compliance Committee is responsible for the administration, revision, interpretation,
        and application of this Policy. The Policy will be reviewed annually and revised as needed.</p>
        <p>反洗钱合规委员会负责管理，修订，解释和应用本政策。该政策将根据需要每年检讨和修订。</p><br>

        <br>
    </div>
</div>
{/block}