{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇风险披露-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>风险披露</h2>
        <h4>高风险投资</h4>
        <p>保证金外汇交易具有高风险，可能并不适合所有投资者。高杠杆率可能对您和您都有利。在决
        定进行外汇交易之前，您应该仔细考虑您的投资目标，经验水平和风险偏好。您可能会损失部
        分或全部初始投资，因此您不应该投资您无法承受的损失。您应该了解与外汇交易相关的所有
        风险，如果您有任何疑问，请咨询独立财务顾问。</p>
        <p>Trading foreign exchange on margin carries a high level of risk, and may not be suitable for all investors.
        The high degree of leverage can work against you as well as for you. Before deciding to trade foreign
        exchange you should carefully consider your investment objectives, level of experience, and risk
        appetite. The possibility exists that you could sustain a loss of some or all of your initial investment and
        therefore you should not invest money that you cannot afford to lose. You should be aware of all the
        risks associated with foreign exchange trading, and seek advice from an independent financial advisor if
        you have any doubts.</p><br>

        <h4>Myfx Markets 市场观点</h4>
        <p>本网站包含的任何意见，新闻，研究，分析，价格或其他信息均作为一般市场评论提供，不构
        成投资建议。Myfx Markets 不对因使用或依赖此类信息而直接或间接产生的任何损失或损害承
        担责任，包括但不限于任何利润损失。</p>
        <p>Any opinions, news, research, analyses, prices, or other information contained on this website is
        provided as general market commentary, and does not constitute investment advice. Myfx Markets will
        not accept liability for any loss or damage, including without limitation to, any loss of profit, which may
        arise directly or indirectly from use of or reliance on such information.</p><br>

        <h4>互联网交易风险</h4>
        <p>利用基于互联网的交易执行交易系统存在风险，包括但不限于硬件，软件和互联网连接的失
        败。由于 Myfx Markets 不控制信号功率，通过互联网接收或路由，设备配置或连接可靠性，因
        此我们无法对通过互联网进行交易时的通信故障，失真或延迟负责。Myfx Markets 采用备份系
        统和应急计划，以最大限度地减少系统故障的可能性，并通过电话进行交易。</p>
        <p>There are risks associated with utilizing an Internet-based deal execution trading system including, but
        not limited to, the failure of hardware, software, and Internet connection. Since Myfx Markets does not
        control signal power, its reception or routing via Internet, configuration of your equipment or reliability
        of its connection, we cannot be responsible for communication failures, distortions or delays when
        trading via the Internet. Myfx Markets employs back up systems and contingency plans to minimize the 
        possibility of system failure, and trading via telephone is available.</p><br>

        <h4>信息的准确性</h4>
        <p>本网站上的内容可能随时更改，恕不另行通知，其唯一目的是协助交易者做出独立的投资决
        策。Myfx Markets 已采取合理措施确保网站上信息的准确性，但不保证其准确性，并且不对因
        内容或您无法访问内容而直接或间接引起的任何损失或损害承担责任。网站，传输或接收通过
        本网站发送的任何指令或通知的任何延迟或失败。</p>
        <p>The content on this website is subject to change at any time without notice, and is provided for the sole
        purpose of assisting traders to make independent investment decisions. Myfx Markets has taken
        reasonable measures to ensure the accuracy of the information on the website, however, does not
        guarantee its accuracy, and will not accept liability for any loss or damage which may arise directly or
        indirectly from the content or your inability to access the website, for any delay in or failure of the
        transmission or the receipt of any instruction or notifications sent through this website.</p><br>

        <h4>分配</h4>
        <p>本网站不得用于任何国家/地区的分发或使用，此类分发或使用将违反当地法律或法规。本网站
        提及的任何服务或投资均不适用于居住在提供此类服务或投资会违反当地法律或法规的任何国
        家/地区的人员。本网站的访问者有责任确定其所适用的当地法律或法规的条款并遵守这些法律
        或法规。</p>
        <p>This site is not intended for distribution, or use by, any person in any country where such distribution or
        use would be contrary to local law or regulation. None of the services or investments referred to in this
        website are available to persons residing in any country where the provision of such services or
        investments would be contrary to local law or regulation. It is the responsibility of visitors to this
        website to ascertain the terms of and comply with any local law or regulation to which they are subject.</p><br>
        
    </div>
</div>
{/block}