{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇反洗钱条例-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>反洗钱条例</h2>
        <p>洗钱是将从非法活动（恐怖主义，毒品交易，非法武器贸易，腐败，人员贩运等）中获得的金
        钱或其他物质价值转化为看似合法的金钱或投资的行为。这种活动的使用是因为非法的货币来
        源和其他物质价值无法追查。</p>
        <p>Money laundering is the act of converting money or other material values gained from illegal activity
        (terrorism, drug dealing, illegal arms trade, corruption, human traffic and etc.) into money or
        investments that appear to be legitimate. Such activity is used because of the illegal source of money
        and other material values cannot be traced.</p><br>

        <p>“反洗钱/反恐怖主义法”适用于提供特定服务的人（称为“指定服务”）。提供指定服务的人称为
        “报告严重性”。反洗钱/反恐怖主义法案采用基于风险的方法。这种方法意味着报告的严格性将
        决定如何通过其业务最好地识别，减轻和管理洗钱和恐怖主义融资的风险。</p>
        <p>The AML/CTF Act applies to persons who provide specified services (known as "designated services").
        Persons providing designated services are called "reportingentities". The AML/CTF Act adopts a riskbased
        approach. This approach means that the reportingentity will decide how best to identify, mitigate
        and manage the risk of money launderingand terrorism financing through its business.</p><br>

        <p>为了对抗犯罪资金渗透到国家经济中并防止恐怖主义活动的扩大，各国开展了打击洗钱和恐怖
        主义融资的斗争。金融机构是最容易获取的便利工具之一，可以使非法活动的收入合法化。金
        融市场日益一体化和资本流动自由使得犯罪资本的市场渗透变得更加容易。Thereat Myfx
        Markets 适用法律及其实施计划，以帮助国际组织在世界各地打击洗钱和资助恐怖活动。</p>
        <p>In order to confront the penetration of criminal money into state economy and to prevent expansion of
        terrorist activity, countries carry on a struggle against money laundering and terrorism financing.
        Financial organizations are one of the easiest of access and convenient instruments that allow legalizing
        revenue from illegal activity. The increased integration of financial markets and liberty of capital
        mobility between them make market penetration of criminal capital easier. Thereat Myfx Markets
        applies by-law and programs of its implementation to help international organizations to struggle against
        money laundering and financing of terrorist activity all over the world.</p><br>

        <p>1. Myfx Markets 记录并验证客户的识别数据，并记录和跟踪客户执行的所有交易的逐项陈述。</p>
        <p>Myfx Markets documents and verifies identification data of the Client and also logs and tracks itemized
        statement of all transactions carried out by the Client.</p><br>

        <p>2. Myfx Markets 跟踪客户的可疑交易和在非标准条件下执行的交易。Myfx Markets 基于 AML
        FATF 建议执行其行动。</p>
        <p>Myfx Markets tracks suspicious transactions of the clients and transactions executed under nonstandard
        conditions. Myfx Markets performs its action on the base of AML FATF recommendations.</p><br>

        <p>3.在任何情况下，Myfx Markets 既不接受现金存款也不支付现金。</p>
        <p>Myfx Markets neither accepts cash deposits nor disburses cash under any circumstances.</p><br>

        <p>4. Myfx Markets 保留在任何阶段拒绝处理交易的权利，因为它认为交易以任何方式与洗钱或犯
        罪活动相关联。根据国际法，Myfx Markets 没有义务告知客户，已向客户的相应机构报告了可
        疑活动。</p>
        <p>Myfx Markets reserves the right to refuse to process a transaction at any stage, where it believes the
        transaction to be connected in any way to money laundering or criminal activity. In accordance with
        international law Myfx Markets is not obliged to inform the Client that it was reported to the
        corresponding bodies of the Client's suspicious activity.</p><br>

        <p>Myfx Markets 致力于定期更新其电子系统，以检查可疑交易，并根据颁布的任何新规定验证客
        户身份记录，并为员工提供有关加强反洗钱程序的培训新法规可能要求这样做。</p>
        <p>Myfx Markets is committed to regularly update its electronic system for inspection of suspicious
        transactions and for verification of client identification records, in accordance with any new regulations
        as they are promulgated, as well as providing training for its employees on enhancements to anti-money
        laundering procedures that may be required by new regulations.</p><br>
        
    </div>
</div>
{/block}