{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇隐私条款-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>隐私条款</h2>
        <h4>Myfx Markets 尊重每个人的隐私权</h4>
        <p>Myfx Markets Pty Ltd（Myfx Markets）承诺遵守“1993 年隐私法”中隐私原则规定的隐私义务。本
        隐私政策描述了我们如何处理和保护我们收集的有关申请或接收我们产品和服务的个人信息。</p>
        <p>Myfx Markets Pty Ltd (Myfx Markets) is committed to its privacy obligations under the Privacy
        Principles contained in the Privacy Act 1993. This privacy policy describes how we handle and protect
        personal information we collect about individuals who apply for or receive our products and services.</p><br>

        <h4>您的隐私是我们的首要任务</h4>
        <p>Myfx Markets Pty.Ltd（Myfx Markets）承诺遵守 1993 年隐私法中隐私原则的隐私义务。本隐私
        政策描述了我们如何处理和保护我们收集的有关申请或接收我们产品和服务的个人信息。</p>
        <p>Myfx Markets Pty. Ltd (Myfx Markets) is committed to its privacy obligations under the Privacy
        Principles contained in the Privacy Act 1993. This privacy policy describes how we handle and protect
        personal information we collect about individuals who apply for or receive our products and services.</p><br>

        <h4>我们如何收集个人信息</h4>
        <p>当您向 Myfx Markets 申请或维护帐户时，我们会出于商业目的收集您的个人信息，例如评估您
        的开户申请，处理您的请求和交易，通知您可能感兴趣的产品和服务，并提供客户服务。我们
        收集的有关您的个人信息可能包括：</p>
        <p>When you apply for or maintain an account with Myfx Markets, we collect personal information about
        you for business purposes, such as evaluating your application to open account, processing your
        requests and transactions, informing you about products and services that may be of interest to you, and
        providing client service. The personal information we collect about you may include:</p>
        <p>您在申请表和其他表格上提供给我们的信息，例如您的姓名，地址，出生日期，职业，雇主，
        资产和收入，电话或手机号码，电子邮件地址，税号，提名的银行账户详细信息; 有关您与我们
        及其关联公司的交易的信息; 我们从消费者报告机构收到的信息，例如您的信用记录和信誉，以
        及与 Myfx Markets 无关的其他实体; 以及您提供给我们的信息，以验证您的身份，例如护照，或
        从与 Myfx Markets 无关的其他实体收到的信息。</p>
        <p>Information you provide to us on applications and other forms, such as your name, address, date of birth,
        occupation, employer, assets and income, telephone or mobile number, email address, tax file number,
        nominated Bank account details; Information about your transactions with us and with our affiliates;
        Information we receive from consumer-reporting agencies, such as your credit history and
        creditworthiness, and other entities not affiliated with Myfx Markets; and Information you provide to us
        to verify your identity, such as a passport, or received from other entities not affiliated with Myfx 
        Markets.</p><br>

        <h4>我们如何保护个人信息</h4>
        <p>我们采取一切合理措施保护您的个人信息免遭滥用，丢失，未经授权的访问，修改或披露。我
        们将访问您的个人信息的权限限制在那些需要了解的员工，以便开展业务，为您的帐户提供服
        务并为您提供广泛的产品和服务。我们的员工必须维护和保护您的个人信息的机密性，并且必
        须遵循既定程序。我们维护物理，电子和程序保护措施，以保护您的个人信息。除非法律授权
        或法律要求，否则我们不会向任何人透露您的姓名或个人信息。</p>
        <p>We take all reasonable steps to protect your personal information from misuse, loss, unauthorised access,
        modification or disclosure. We limit access to your personal information to those employees who need
        to know in order to conduct our business, service your account and providing you with a broad range of
        products and services. Our employees are required to maintain and protect the confidentiality of your
        personal information and must follow established procedures to do so. We maintain physical, electronic
        and procedural safeguards to protect your personal information. We do not disclose your name or
        personal information to anyone unless authorised, or required by law, to do so.</p><br>

        <h4>关于 Cookies</h4>
        <p>Cookie 是包含网站用于跟踪其访问者的信息的小文件。Myfx Markets 可以在您的计算机上设置
        和访问 Myfx Markets cookie，使我们能够了解哪些广告和促销活动将用户带到我们的网站。
        Myfx Markets 或其任何关联公司或部门可能会使用此类 Cookie。</p>
        <p>Cookies are small files containing information that a Web site uses to track its visitors. Myfx Markets
        may set and access Myfx Markets cookies on your computer, enabling us to learn which advertisements
        and promotions bring users to our Web site. Myfx Markets or any of its affiliates or divisions may use
        such cookies.</p><br>
        
        <h4>关于超链接</h4>
        <p>Myfx Markets 的网站可能包含指向其他网站的超链接或“链接”，其他网站可能会“链接”到我们的
        网站。这些可能链接到 Myfx Markets 网站或从 Myfx Markets 网站链接的网站可能有自己的隐私
        政策。Myfx Markets 的隐私政策仅适用于 Myfx Markets 和我们收集的信息。Myfx Markets 不对
        您链接的网站的隐私政策或内容负责，也不对您提供或由这些网站收集的信息的使用或安全性
        进行控制。如果您选择链接到其中一个网站，可能会要求您提供注册或其他信息。重要的是您
        要将此信息发送给第三方，并且您应该熟悉该第三方提供的隐私政策。</p>
        <p>Myfx Markets' Web sites may contain hyperlinks or “links” to other sites, and other sites may
        “link” to our sites. These Web sites that may be linking to or from Myfx Markets' sites may have
        their own privacy policies. Myfx Markets' privacy policy applies exclusively to Myfx Markets and
        information collected by us. Myfx Markets is not responsible for the privacy policies or the content of
        the sites you link to, nor do we have control over the use or security of information provided by you or
        collected by those sites. If you choose to link to one of these Web sites, you may be asked to supply
        registration or other information. It is important that you realise this information is going to a third-party,
        and you should become familiar with the privacy policy provided by that third-party.</p><br>

        <h4>Myfx Markets 安全技术</h4>
        <p>Myfx Markets 保护您提交给我们的信息。此类技术旨在保护您免受 Myfx Markets 以外的任何人
        在传输给我们时截获您的信息。我们还使用其他安全措施，例如防火墙，身份验证系统（例
        如，密码和个人识别码）和访问控制机制来控制对系统和数据的未授权访问。但是，您承认并
        接受通过本网站提供的任何服务都涉及通过互联网传输，因此此类传输受到互联网固有风险的
        影响。虽然我们承认我们有责任采取合理的安全预防措施，但您也承认并接受，与任何网络一
        样，您还可能暴露于第三方传输的未经授权的程序，电子侵入和/或信息和数据未能到达其预定
        目的地和/或错误接收或误导此类信息。虽然我们和我们供应商的隐私和安全功能旨在降低这些
        风险，但我们无法保证可以完全消除风险。因此，您承认，对于因此类事件而导致的任何违反
        信任或未经授权的访问和使用，我们概不负责。隐私和安全功能旨在降低这些风险，我们无法
        保证风险可以完全消除。因此，您承认，对于因此类事件而导致的任何违反信任或未经授权的
        访问和使用，我们概不负责。隐私和安全功能旨在降低这些风险，我们无法保证风险可以完全
        消除。因此，您承认，对于因此类事件而导致的任何违反信任或未经授权的访问和使用，我们
        概不负责。</p>
        <p>Myfx Markets protects the information that you submit to us. This type of technology is designed to
        protect you from having your information intercepted by anyone other than Myfx Markets while it is
        being transmitted to us. We also use other safeguards such as firewalls, authentication systems (e.g.,
        passwords and personal identification numbers) and access control mechanisms to control unauthorised
        access to systems and data. However, you acknowledge and accept that any services provided through
        the Website involve transmissions over the internet and that such transmissions are therefore subject to
        the internet's inherent risks. Whilst we acknowledge our responsibility to take reasonable security
        precautions, you also acknowledge and accept that, as with any network, you may also be exposed to
        unauthorised programs transmitted by third parties, electronic trespassing and/or the failure of
        information and data to reach their intended destinations and/or erroneous receipt or misdirection of
        such information. Although our and our suppliers' privacy and security features are designed to reduce
        these risks, we cannot guarantee that the risk can be eliminated completely. You therefore acknowledge
        that we will not be liable for any breach of confidence or unauthorised access and use arising as a result
        of such event.</p><br>

        <h4>与我们的关联公司分享信息</h4>
        <p>出于商业目的，我们可能会将上述个人信息与我们的关联公司共享，例如，在适用法律允许的
        情况下，为客户帐户提供服务并告知客户新产品和服务。我们的附属公司是由我们控制或拥有
        的公司，或控制或与我们共同控制的公司，包括金融服务公司，如经销商，其他经纪人，期货
        佣金商和顾问。</p>
        <p>We may share personal information described above with our affiliates for business purposes, such as
        servicing client accounts and informing clients about new products and services, as permitted by
        applicable law. Our affiliates are companies controlled or owned by us, or companies controlling or
        under common control with us, and include financial service companies, such as dealers, other brokers,
        futures commission merchants and advisors.</p><br>

        <h4>向非附属第三方和监管机构披露</h4>
        <p>为了支持我们向您提供的金融产品和服务，我们可能会与第三方服务提供商和不隶属于我们的
        联合营销人员共享上述个人信息，包括：</p>
        <p>In order to support the financial products and services we provide to you, we may share the personal
        information described above with third-party service providers and joint marketers not affiliated with us,
        including:</p>
        <p>金融服务机构（顾问，经销商，经纪人，信托公司）我们与之签订联合营销协议的协议，例如
        市场金融服务协议或我们共同提供，认可或赞助的产品; 以及为我们或代表我们提供服务的合同
        公司，例如准备和邮寄报表和交易确认或提供数据处理，计算机软件维护和开发，交易处理和
        营销服务的服务提供商。</p>
        <p>Financial service institutions (advisors, dealers, brokers, trust companies and banks) with whom we
        have joint marketing agreements, such as agreements to market financial services or products that we
        jointly offer, endorse or sponsor; and Companies under contract to perform services for us or on our
        behalf, such as service providers that prepare and mail statements and transaction confirmations or
        provide data processing, computer software maintenance and development, transaction processing and
        marketing services.</p>
        <p>代表我们行事的这些公司必须对您的个人信息保密。</p>
        <p>These companies acting on our behalf are required to keep your personal information confidential.</p>
        <p>我们可能还需要在澳大利亚不时向 FSP 和其他监管机构和政府机构提供您的个人信息。</p>
        <p>We may also be required to provide your personal information to the FSP and other regulatory and
        government bodies from time to time in Australia.</p>
        <p>我们可能会收集，使用和披露您的个人数据，包括您可能以任何方式自愿向我们披露的个人数
        据，以便我们能够：</p>
        <p>（i）履行我们对我们提供的服务的义务;</p>
        <p>（ii）开展我们的日常业务活动并与您打交道;</p>
        <p>（iii）汇编所访问网站页面的统计分析;</p>
        <p>（iv）监督和分析我们的业务;</p>
        <p>（v）参与预防犯罪，法律和监管合规，包括筛选和比较此类数据与制裁和用于预防犯罪目的的
        其他数据库;</p>
        <p>（vi）营销和开发其他产品和服务;</p>
        <p>（vii）转让我们就我们提供的服务所享有的任何权利或义务; </p>
        <p>（viii）处理您的个人信息用于其他相关目的。</p>
        <p>We may collect, use and disclose personal data about you, including personal data you may voluntarily
        disclose to us in any manner, so that we can:</p>
        <p>(i) carry out our obligations with respect to the services that we provide;</p>
        <p>(ii) carry out our everyday business activities and dealings with you;</p>
        <p>(iii) compile statistical analysis of the pages of the Website visited;</p>
        <p>(iv) monitor and analyse our business;</p>
        <p>(v) participate in crime prevention, legal and regulatory compliance, including screening and comparing
        such data against sanctions and other databases used for crime prevention purposes;</p>
        <p>(vi) market and develop other products and services;</p>
        <p>(vii) transfer any of our rights or obligations in relation to the services that we offer; and
        <p>(viii) process your personal data for other related purposes</p>
        <p>如果你不向我们提供您的个人信息，或者如果您向我们提供不准确或不完整的信息，我们可
        能无法为您提供我们的服务，包括让你访问到我们的网站。</p>
        <p>If you do not provide us with your personal information, or if you provide us with inaccurate or
        incomplete information, we may not be able to provide you with our services, including giving you
        access to our Websites.</p><br>

        <h4>访问和重新访问您的个人信息</h4>
        <p>根据适用的数据保护法，您有权访问我们在请求时收集并持有的部分或全部个人数据，或者更
        正不正确的信息。如果您希望行使此类权利，请通过 customer.service@myfxmarkets.com 联系我
        们的总经理 ，并可能会要求您提供进一步的信息以帮助我们遵守此类请求。</p>
        <p>You have certain rights of access to some or all of the personal data we collect and hold about you at the
        time of request, or to have inaccurate information corrected, under applicable data protection laws. If
        you wish to exercise such rights, you should contact our Managing Director or
        atcustomer.service@myfxmarkets.com, an, and may be requested to provide further information to
        assist us in complying with such request.</p><br>

    </div>
</div>
{/block}