{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇免责声明-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>免责声明</h2>
        <p>使用本网站和/或其服务，即表示您同意 Myfx Markets 不对本网站提供的任何信息的准确性负
        责。但是，本网站上的信息是出于善意提供的，并且 Myfx Markets 认为这些信息是准确的。</p>
        <p>By using this website and/or its services, you agree that Myfx Markets will not be held responsible for
        the accuracy of any information available on this site. However, the information on this site is provided
        in good faith and is believed by Myfx Markets to be accurate.</p><br>

        <p>此外，根据您在本网站或我们链接的网站上获得的信息，您同意不对 Myfx Markets 对您做出的
        决定负责。建议您在从可靠来源收集了一些意见并从其他独立来源验证了所有事实后做出决
        定。此外，建议网站用户在做出任何行为或就所要求的服务做出任何决定之前，与我们联系和/
        或采取适当的专业建议。</p>
        <p>Furthermore, you agree not to hold Myfx Markets liable for decisions you make based on the
        information you obtain on this website or websites we link to. It is recommended that you make your
        decisions after you have collected serveral opinions from credible sources and have verified ALL facts
        from other independent sources. In addition, users of the site are advised to contact us and/or to take
        appropriate professional advice before committing themselves to any act or taking any decision
        regarding services requested.</p><br>

        <p>Myfx Markets 或其网站托管服务提供商在任何情况下均不对因网站服务中断或无法使用我们网
        站而造成的任何损害和/或损失承担责任。</p>
        <p>Myfx Markets or its web hosting providers shall in no event be liable for any damages and or loss
        resulting from interruption of website service or the inability to use our website.</p><br>

        <p>本网站及其中包含的信息仅供一般参考之用，并不构成出售或征求购买任何金融工具，证券，
        商品期货合约或商品相关产品或任何咨询或交易管理服务的要约。这里描述的。</p>
        <p>This site and the information included herein is for general information purposes only and does not
        constitute an offer to sell or solicitation of an offer to purchase any financial instrument, security,
        commodity futures contract or commodity-related product, or any advisory or trading management
        service described herein.</p><br>

        <p>本网站包含的材料是 Myfx Markets 的知识产权，未经 Myfx Markets 事先明确书面许可，不得以
        任何方式复制，传播或复制。下载和打印本网站或其任何部分中包含的信息仅允许本网站用户
        个人使用。</p>
        <p>The material contained on this site is the intellectual property of Myfx Markets and may not be
        reproduced, transmitted or copied by any means, without the prior expressed written permission of
        Myfx Markets. Downloading and printing the information contained in this site or any part thereof is
        permitted only for the personal use of a user of this site.</p><br>
        
    </div>
</div>
{/block}