{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇平台介绍-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}

    .main_inner h2{margin-bottom: 30px;}
    .main_inner img{width: 100%;margin-bottom: 5px;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>平台介绍</h2>
        <img src="__STATIC__image/protocol06_img01.png">
        <img src="__STATIC__image/protocol06_img02.png">
        <img src="__STATIC__image/protocol06_img03.png">
        <img src="__STATIC__image/protocol06_img04.png">
        <img src="__STATIC__image/protocol06_img05.png">
        <img src="__STATIC__image/protocol06_img06.png">
        <img src="__STATIC__image/protocol06_img07.png">
        <img src="__STATIC__image/protocol06_img08.png">
        <img src="__STATIC__image/protocol06_img09.png">
        <img src="__STATIC__image/protocol06_img10.png">
        <img src="__STATIC__image/protocol06_img11.png">
        <img src="__STATIC__image/protocol06_img12.png">
        <img src="__STATIC__image/protocol06_img13.png">
        <img src="__STATIC__image/protocol06_img14.png">
        <img src="__STATIC__image/protocol06_img15.png">
        <img src="__STATIC__image/protocol06_img16.png">
        <img src="__STATIC__image/protocol06_img17.png">
        <img src="__STATIC__image/protocol06_img18.png">
        <img src="__STATIC__image/protocol06_img19.png">
        <img src="__STATIC__image/protocol06_img20.png">
        <img src="__STATIC__image/protocol06_img21.png">
        <img src="__STATIC__image/protocol06_img22.png">
        <img src="__STATIC__image/protocol06_img23.png">
        <img src="__STATIC__image/protocol06_img24.png">
        <img src="__STATIC__image/protocol06_img25.png">
        <img src="__STATIC__image/protocol06_img26.png">
        <img src="__STATIC__image/protocol06_img27.png">
        <img src="__STATIC__image/protocol06_img28.png">
        <img src="__STATIC__image/protocol06_img29.png">
        <br>
    </div>
</div>
{/block}