{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇出金流程-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇经济日程表,亿思汇官网"/>
<meta name="description" content="最新经济日程表,亿思汇各个国家的日程表应有尽有，关注亿思汇官网，为你的财富保驾护航。"/>
{/block}
{block name="body"}
<style>
    .header{background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
    .main{width: 100%;background: #f3f3f3;}
    .main_inner{margin: 110px auto 0 auto;width: 1200px;clear: both;background: #fff;padding: 50px;position: relative;}
    .title{font-size: 22px;line-height: 50px;position: absolute;top: 0;left: 50px;}
    .bottom{width: 1100px;height: 45px;position: absolute;bottom: 0;left: 50px;background: #fff;border-top: 1px solid #dadada;}
    .main_inner h2,.main_inner h3{line-height: 60px;text-align: center;}
    .main_inner h4,.main_inner h5{line-height: 40px;}
    .main_inner p{padding-left: 2em;}

    .main_inner h2{margin-bottom: 30px;}
    .main_inner h4{margin-top: 50px;}
    .main_inner img{width: 80%;margin-bottom: 5px;margin-left: 10%;}
</style>
<div class="main">
    <div class="main_inner">
        <h2>AUSFOREX澳汇虚拟币入金流程</h2>
        <h4>1、 打开官网 www.ausforex.com 点击右上方【登录】按钮</h4>
        <img src="__STATIC__image/protocol13_01.png">
        <h4>2、 输入用户名和密码登录会员区</h4>
        <img src="__STATIC__image/protocol13_02.png">
        <h4>3、进入会员区点击 【即时入金】</h4>
        <img src="__STATIC__image/protocol13_03.png">
        <h4>4、选择交易账户，填好入金金额，最低 50 美金，点击 【提交】</h4>
        <img src="__STATIC__image/protocol13_04.png">
        <h4>5、第一次使用【fxcoin】入金，需客户注册 VCoin Trade 账户， 请点击【去注册】</h4>
        <img src="__STATIC__image/protocol13_05.png">
        <h4>6、跳转至注册界面，请完善信息后点击【注册】</h4>
        <img src="__STATIC__image/protocol13_06.png">
        <h4>7、注册成功后点击【确定】，然后再【去登陆】</h4>
        <img src="__STATIC__image/protocol13_07.png">
        <h4>8、输入账号、登录密码、验证码完成登录</h4>
        <img src="__STATIC__image/protocol13_08.png">
        <h4>9、在【交易市场】中购买 FXC 虚拟币</h4>
        <img src="__STATIC__image/protocol13_09.png">
        <h4>10、输入购币数量，点击下单</h4>
        <img src="__STATIC__image/protocol13_10.png">
        <h4>11、进入购币付款界面，请仔细查看卖方提供的银行卡信息、支持付 款的银行、付款备注参考号。登录个人网上银行进行付款并在附言中填写付款备注参考号。（注：请务必准确填写付款备注参考号，否 则卖方无法核实您的付款，导致无法及时放币）付款成功后，在此界面选择银行和填写银行回执单号，点击【已支付】，完成购币后，请等待卖方放币，卖方放币成功后您将收到邮件通知。</h4>
        <img src="__STATIC__image/protocol13_11.png">
        <h4>12、购买成功后，请重新登录会员区，点击【即时入金】选择 【fxcoin】，输入入金金额点击【提交】</h4>
        <img src="__STATIC__image/protocol13_12.png">
        <h4>13、 输入 VCoin Trade 账户的账号和交易密码，点击【确认】进行 入金，入金成功会提示【充值成功】</h4>
        <img src="__STATIC__image/protocol13_13.png">
        <h4>14、充值成功，点击【已完成】完成入金</h4>
        <img src="__STATIC__image/protocol13_14.png">
        <br>
    </div>
</div>
{/block}