{extend name="web@base/main"/}
{block name="tdk"}
<title>亿思汇会员服务-亿思汇官网</title>
<meta name="keywords" content="亿思汇,亿思汇会员,亿思汇会员服务,亿思汇官网"/>
<meta name="description" content="亿思汇会员系统享受更安全便捷的交易服务。"/>
{/block}
{block name="body"}
<link href="__STATIC__css/order.css" rel="stylesheet">
 <style>
    /*.paymoney>li{width:33.3%;}
    .paymoney>li:nth-child(3){display:block}*/
     body{background: url(__STATIC__image/vip_bg.png)no-repeat;background-size: contain;}
     .header{background: transparent;box-shadow: none;}
     .vip_inner{margin-bottom: 20px;}
     .tradetype{width: 500px;margin: 0 auto 20px auto;font-size: 16px;}
     .tradetype p{line-height: 50px;}
     .tradetype input{width: 20px;height: 20px;vertical-align: middle;margin: 0;}
     .tradetype span{vertical-align: middle;margin-right: 50px;padding-left: 5px;}
     .broker_cooperation{width: 1200px;margin: 0 auto 50px auto;background: #fff;border-radius: 8px;box-shadow: 0 0 30px rgba(0,0,0,0.3);}
     .broker_cooperation p{width: 1125px;height: 100%;margin: 0 auto;line-height: 90px;}
     .broker_cooperation p span{vertical-align: middle;font-size: 17px;color: #333333;}
     .broker_cooperation p img{vertical-align: middle;height: 40px;margin-left: 50px;}
     .broker_cooperation p .broker_cooperation_btn{display: inline-block;margin-left: 15px;text-align: center;width: 98px;height: 30px;line-height: 30px;margin-top: 25px;font-weight: bold;background: #611987;outline: none;border: none;border-radius: 4px;font-size: 16px;color: #ffffff;}
 
     .vipshow2>li{width: 24.8%;}
     .vipshow>li{width: 24.8%;}

 </style>
<div class="vip">
    <h1 style="text-align: center;margin-top: 110px;">开通VIP,畅享会员权利</h1><p style="text-align: center;line-height: 50px;font-size: 20px;">｛3大等级,由您挑选｝</p>
    <div class="broker_cooperation" style="margin: 30px auto;display: none;">
        <p><span>试试这些经纪商，获永久VIP权限~</span>
            <img src="__STATIC__image/vip_bottom2.png">
            <span style="border-bottom: 1px solid #333;margin-left: 20px;">
                <a href="{:url('other/protocol_vip')}" style="color: #333333;" target="_blank">点击了解</a>
            </span>
            <a href="https://www.ausforex.com/zh-cn/account/registering-a-live-account-e30.shtml?key=7bYS%2fnKgaR0%3d" class="broker_cooperation_btn" target="_blank">立即开通</a>
            <img src="__STATIC__image/vip_bottom.png">
            <span style="border-bottom: 1px solid #333;margin-left: 20px;">
                <a href="{:url('other/protocol_vip_2')}" style="color: #333333;" target="_blank">点击了解</a>
            </span>
            <a href="https://www.myfxmarkets.com/account.do?method=openAccount&language=zh&ibCode=880876" class="broker_cooperation_btn" target="_blank">立即开通</a>
        </p>
    </div>
    <div class="vip_inner">
        <img src="__STATIC__image/vipLOGO.png" style="width:1125px;margin:30px auto;display:block;">
        <div style="width:1125px;border:1px solid #dadada;margin:0 auto;border-radius:4px;border-bottom: none;" class="vipbox">
            <ul class="vipshow2" style="background: #fff;border-bottom:1px solid #dadada;">
                <li>功能</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_normal.png">-->
                    <!-- <img src="__STATIC__image/vip_4.png"> -->
                <!-- </li> -->
                <li>
                    <img src="__STATIC__image/vip_1.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_3.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li>跨平台MT4账户</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_is.png">-->
                    <!--<img src="__STATIC__image/vip_is3.png">-->
                <!-- </li> -->
                <li>
                    <!-- <img src="__STATIC__image/vip_is2.png"> -->
                </li>
                <li>
                    <!-- <img src="__STATIC__image/vip_is2.png"> -->
                </li>
                <li>
                    <!-- <img src="__STATIC__image/vip_is2.png"> -->
                </li>
            </ul>
            <ul class="vipshow">
                <li>模拟(Demo)账户</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_is.png">-->
                    <!-- <img src="__STATIC__image/vip_is3.png"> -->
                <!-- </li> -->
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li>交易统计</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_is.png">-->
                    <!-- <img src="__STATIC__image/vip_is3.png"> -->
                <!-- </li> -->
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li title="点击免费跟单或者跟随，即可跟随单个交易者进行跟单。">复制跟单(单一信号)</li>
                <!-- <li>
                    <img src="__STATIC__image/vip_is3.png">
                </li> -->
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li title="同时跟随多个交易者进行跟随交易。">组合跟单(多信号)</li>
                <!-- <li>
                    <img src="__STATIC__image/vip_is3.png">
                </li> -->
                <li></li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li title="选定信号后，可以对每一个信号进行一些风险项限制的设置。">风控工具</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_is.png">-->
                    <!-- <img src="__STATIC__image/vip_is3.png"> -->
                <!-- </li> -->
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li title="当信号开仓交易时，系统会根据用户设置的方向进行同向/反向开仓，例如：当信号创建一个buy订单，反向则会创建一个sell订单。">反向跟单</li>
                <!-- <li>
                    <img src="__STATIC__image/vip_is3.png">
                </li> -->
                <li></li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li title="用户可以使用一个注册账号关联多个MT4账号进行跟单操作。">绑定多mt4账户</li>
                <!-- <li> -->
                    <!--<img src="__STATIC__image/vip_is3.png">-->
                <!-- </li> -->
                <li></li>
                <li></li>
                <li>
                    <img src="__STATIC__image/vip_is2.png">
                </li>
            </ul>
            <ul class="vipshow">
                <li></li>
                <!-- <li> -->
                    <!-- <a href="{:url('other/protocol_vip')}" target="_blank"><button>立即开通</button></a> -->
                    <!-- <a href="http://wpa.qq.com/msgrd?v=3&uin=632131300&site=qq&menu=yes" target="_blank"><button>立即开通</button></a> -->
                <!-- </li> -->
                <style>
                    /*#tovip1{float: left;margin-left: 25px;}*/
                    #free_tovip{width: 60px;float: left;font-size: 16px;line-height: 18px;font-weight: bold;margin-left: 10px;}
                </style>
                <script>
                    $(function () {
                        $("#free_tovip").on("click", function () {
                            $(".free_tovip_window1").fadeIn();
                        });
                    });
                </script>
                <li>
                    <!-- <button id="tovip1">立即开通</button> -->
                    <a href="{:url('other/protocol_vip')}" target="_blank"><button>立即开通</button></a>
                </li>
                <li>
                    <!-- <button id="tovip2">立即开通</button> -->
                    <a href="{:url('other/protocol_vip')}" target="_blank"><button>立即开通</button></a>
                </li>
                <li>
                    <!-- <button id="tovip3">立即开通</button> -->
                    <a href="{:url('other/protocol_vip')}" target="_blank"><button>立即开通</button></a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="broker_cooperation">
        <p><span>试试这些经纪商，获永久VIP权限~</span>
            <img src="__STATIC__image/vip_bottom.png">
            <span style="border-bottom: 1px solid #333;margin-left: 20px;">
                <a href="{:url('other/protocol_vip')}" style="color: #333333;" target="_blank">点击了解</a>
            </span>
            <a href="https://www.myfxmarkets.com/account.do?method=openAccount&language=zh&ibCode=880876" class="broker_cooperation_btn" target="_blank">立即开通</a>
            <img src="__STATIC__image/vip_bottom2.png">
            <span style="border-bottom: 1px solid #333;margin-left: 20px;">
                <a href="{:url('other/protocol_vip')}" style="color: #333333;" target="_blank">点击了解</a>
            </span>
            <a href="https://www.ausforex.com/zh-cn/account/registering-a-live-account-e30.shtml?key=7bYS%2fnKgaR0%3d" class="broker_cooperation_btn" target="_blank">立即开通</a>
        </p>
    </div>-->
</div>
<!--弹框-->
<div class="vip_window">
    <!-- vip1-->
    <!--<div class="vipwindow1" id="vipcontent1">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 1</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li vip_price_active">
                <p class="vip_price1">
                    <span>29</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip vipwindow_tip2">
            </li>
            <li class="vip_price_li">
                <p class="vip_price1">
                    <span>59</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip">
            </li>
            <li class="vip_price_li ">
                <p class="vip_price1">
                    <span>99</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money1">29</span>元</p>
        <div class="tradetype">
            <p>支付方式：</p>
            <input type="radio" name="tradetype1" value="21" checked><span>微信支付</span>
            <input type="radio" name="tradetype1" value="22"><span>支付宝支付</span>
        </div>
        <ul class="paymoney">
            &lt;!&ndash;<li>
                <div>
                    <img src="" class="paymoney_style" id="wechatvip1">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li>
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_1">支付宝支付</button>
                </div>
            </li>&ndash;&gt;
            &lt;!&ndash; <li>
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                {$info.imoney}
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_1" style="background:#ff8a00">余额支付</button>
                </div>
            </li> &ndash;&gt;
            <button class="apay_btn" id="apay_btn_1">去支付</button>
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>
    &lt;!&ndash; vip2&ndash;&gt;
    <div class="vipwindow1" id="vipcontent2-1">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 2</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li2 vip_price_active">
                <p class="vip_price2">
                    <span>99</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22 vipwindow_tip2">
            </li>
            <li class="vip_price_li2">
                <p class="vip_price2">
                    <span>199</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22">
            </li>
            <li class="vip_price_li2">
                <p class="vip_price2">
                    <span>399</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money2">99</span>元</p>
        <div class="tradetype">
            <p>支付方式：</p>
            <input type="radio" name="tradetype2" value="21" checked><span>微信支付</span>
            <input type="radio" name="tradetype2" value="22"><span>支付宝支付</span>
        </div>
        <ul class="paymoney" style="width:90%;margin:0 auto;">
            &lt;!&ndash;<li style="width:50%">
                <div>
                    <img src="" class="paymoney_style" id="wechatvip2">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li style="width:50%">
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_2">支付宝支付</button>
                </div>
            </li>&ndash;&gt;
            &lt;!&ndash; <li style="width:33.3%" style="display:none!important;">
                <img src="__STATIC__image/freePay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" style="background: #fea032;" id="freepay">免费领取</button>
                </div>
            </li> &ndash;&gt;
            &lt;!&ndash; <li style="width:33.3%">
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_2" style="background:#ff8a00">余额支付</button>
                </div>
            </li> &ndash;&gt;
            <button class="apay_btn" id="apay_btn_2">去支付</button>
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>
    <div class="vipwindow1" id="vipcontent2">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 2</p>
        </div>
        <img src="__STATIC__image/vip_v1.png" class="vip_v1" style="display:block;">
        <p class="vip_buy_not">在购买VIP1 服务的基础上，<span style="color:#007eff;border-bottom:1px solid #007eff;cursor: pointer;" id="notbuy">还未购买？</span></p>
        <ul class="vip_buy_condition">
            <li>
                <img src="__STATIC__image/vip_p5.png" style="float:right;margin-right:40px;">
            </li>
            <li>
                <img src="__STATIC__image/vip_mt4.png" style="float:left;margin-left:40px;">
            </li>
        </ul>
        <p style="text-align: center;font-size:18px;color:#333333;">邀请<span style="color:#007eff;">5名</span>注册用户和<span style="color:#007eff;">1名</span>MT4认证用户</p>
        <p style="text-align: center;font-size:18px;color:#999999;padding:5px 0;">永久获得VIP2(VIP1基础上)</p>
        <div style="width:70%;margin:0 auto;">
            <button class="check_invite2" id="tobuyvip2">直接购买</button>
            <button class="check_invite">查看我的邀请</button>
        </div>
    </div>
    &lt;!&ndash; vip3&ndash;&gt;
    <div class="vipwindow1" id="vipcontent3">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 3</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li3 vip_price_active">
                <p class="vip_price3">
                    <span>299</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33 vipwindow_tip2">
            </li>
            <li class="vip_price_li3">
                <p class="vip_price3">
                    <span>599</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33">
            </li>
            <li class="vip_price_li3">
                <p class="vip_price3">
                    <span>999</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money3">299</span>元</p>
        <div class="tradetype">
            <p>支付方式：</p>
            <input type="radio" name="tradetype3" value="21" checked><span>微信支付</span>
            <input type="radio" name="tradetype3" value="22"><span>支付宝支付</span>
        </div>
        <ul class="paymoney">
            &lt;!&ndash;<li>
                <div>
                    <img src="" class="paymoney_style" id="wechatvip3">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li>
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_3">支付宝支付</button>
                </div>
            </li>&ndash;&gt;
            &lt;!&ndash; <li style="width:33.3%">
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_3" style="background:#ff8a00">余额支付</button>
                </div>
            </li> &ndash;&gt;
            <button class="apay_btn" id="apay_btn_3">去支付</button>
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>-->

    <!-- vip1-->
    <div class="vipwindow1" id="vipcontent1">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 1</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li vip_price_active">
                <p class="vip_price1">
                    <span>599</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip vipwindow_tip2">
            </li>
            <li class="vip_price_li">
                <p class="vip_price1">
                    <span>1529</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip">
            </li>
            <li class="vip_price_li ">
                <p class="vip_price1">
                    <span>4319</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money1">599</span>元</p>
        <ul class="paymoney">
            <li>
                <div>
                    <img src="" class="paymoney_style" id="wechatvip1">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li>
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_1">支付宝支付</button>
                </div>
            </li>
            <!-- <li>
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                {$info.imoney}
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_1" style="background:#ff8a00">余额支付</button>
                </div>
            </li> -->
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>
    <!-- vip2-->
    <div class="vipwindow1" id="vipcontent2-1">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 2</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li2 vip_price_active">
                <p class="vip_price2">
                    <span>999</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22 vipwindow_tip2">
            </li>
            <li class="vip_price_li2">
                <p class="vip_price2">
                    <span>2549</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22">
            </li>
            <li class="vip_price_li2">
                <p class="vip_price2">
                    <span>7199</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip22">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money2">999</span>元</p>
        <ul class="paymoney" style="width:90%;margin:0 auto;">
            <li style="width:50%">
                <div>
                    <img src="" class="paymoney_style" id="wechatvip2">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li style="width:50%">
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_2">支付宝支付</button>
                </div>
            </li>
            <!-- <li style="width:33.3%" style="display:none!important;">
                <img src="__STATIC__image/freePay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" style="background: #fea032;" id="freepay">免费领取</button>
                </div>
            </li> -->
            <!-- <li style="width:33.3%">
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_2" style="background:#ff8a00">余额支付</button>
                </div>
            </li> -->
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>
    <div class="vipwindow1" id="vipcontent2">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 2</p>
        </div>
        <img src="__STATIC__image/vip_v1.png" class="vip_v1" style="display:block;">
        <p class="vip_buy_not">在购买VIP1 服务的基础上，<span style="color:#007eff;border-bottom:1px solid #007eff;cursor: pointer;" id="notbuy">还未购买？</span></p>
        <ul class="vip_buy_condition">
            <li>
                <img src="__STATIC__image/vip_p5.png" style="float:right;margin-right:40px;">
            </li>
            <li>
                <img src="__STATIC__image/vip_mt4.png" style="float:left;margin-left:40px;">
            </li>
        </ul>
        <p style="text-align: center;font-size:18px;color:#333333;">邀请<span style="color:#007eff;">5名</span>注册用户和<span style="color:#007eff;">1名</span>MT4认证用户</p>
        <p style="text-align: center;font-size:18px;color:#999999;padding:5px 0;">永久获得VIP2(VIP1基础上)</p>
        <div style="width:70%;margin:0 auto;">
            <button class="check_invite2" id="tobuyvip2">直接购买</button>
            <button class="check_invite">查看我的邀请</button>
        </div>
    </div>
    <!-- vip3-->
    <div class="vipwindow1" id="vipcontent3">
        <img src="__STATIC__image/window_close.png" class="window_close">
        <img src="__STATIC__image/vipwindow_title.png" class="vipwindow_title">
        <div class="vipwin_t">
            <img src="__STATIC__image/vip_title.png" class="vip_title2">
            <p class="vipwin_title2">会员服务 VIP 3</p>
        </div>
        <ul class="vip_price">
            <li class="vip_price_li3 vip_price_active">
                <p class="vip_price3">
                    <span>1599</span>元
                </p>
                <p class="vipprice_month">月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33 vipwindow_tip2">
            </li>
            <li class="vip_price_li3">
                <p class="vip_price3">
                    <span>4029</span>元
                </p>
                <p class="vipprice_month">3月</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33">
            </li>
            <li class="vip_price_li3">
                <p class="vip_price3">
                    <span>11519</span>元
                </p>
                <p class="vipprice_month">年</p>
                <img src="__STATIC__image/vipwindow_tip.png" class="vipwindow_tip33">
            </li>
        </ul>
        <p class="vip_money">应付金额：<span class="vip_money3">1599</span>元</p>
        <ul class="paymoney">
            <li>
                <div>
                    <img src="" class="paymoney_style" id="wechatvip3">
                </div>
                <div style="width:114px;margin:10px auto;height:36px;">
                    <img src="__STATIC__image/wei_icon.jpg" style="width:20px;float: left;margin-top:8px;margin-left:10px;">
                    <p style="line-height: 36px;font-size:16px;color:#27323f;float:left;margin-left:10px;">微信支付</p>
                </div>
            </li>
            <li>
                <img src="__STATIC__image/apay.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="apay_btn_3">支付宝支付</button>
                </div>
            </li>
            <!-- <li style="width:33.3%">
                <img src="__STATIC__image/account_yu.jpg" class="paymoney_style">
                <div style="width:114px;margin:10px auto;height:36px;">
                    <button class="apay_btn" id="accountpay_btn_3" style="background:#ff8a00">余额支付</button>
                </div>
            </li> -->
        </ul>
        <div class="vip1_login">登录购买</div>
    </div>
</div>
<input type="hidden" name="uid" id="uid" data-uid="{$uid}" />
<script src="__STATIC__js/vip.js" type="text/javascript"></script>



<script>
    var uid = {$uid};
    $(function () {
        /*判定用户vip等级，已开通的显示“续费”按钮*/
        var vip = '{$info.server}';
        if (vip == 'vip1') {
            $("#tovip1").html("续费").css({ "background": "#00cdc3", "color": "#ffffff" });
        } else if (vip == 'vip2') {
            $("#tovip2").html("续费").css({ "background": "#00cdc3", "color": "#ffffff" });
        } else if (vip == 'vip3') {
            $("#tovip3").html("续费").css({ "background": "#00cdc3", "color": "#ffffff" });
        }

        /*购买服务*/
        $('.apay_btn').on('click', function () {
            var uid = $("#uid").attr("data-uid");
            var amount;
            var server;
            var tradetype;
            if ($(this).attr('id') == 'apay_btn_1') {
                amount = parseInt($('.vip_money1').html());
                server = 'vip1';
                tradetype=$("input[name='tradetype1']:checked").val();
            } else if ($(this).attr('id') == 'apay_btn_2') {
                amount = parseInt($('.vip_money2').html());
                server = 'vip2';
                tradetype=$("input[name='tradetype2']:checked").val();
            } else if ($(this).attr('id') == 'apay_btn_3') {
                amount = parseInt($('.vip_money3').html());
                server = 'vip3';
                tradetype=$("input[name='tradetype3']:checked").val();
            }
            /* var alipay_create = function (postData) {
             var url = 'api.znforex.com/pay.alipay/create_order.html';
             $.post(url, postData, function (respbody) {
             console.log(respbody);
             if (typeof respbody === 'string') {
             respbody = JSON.parse(respbody);
             }
             if (respbody.success) {
             $('input[name=uid]').val(respbody.data.uid);
             $('input[name=server]').val(respbody.data.server);
             $('input[name=amount]').val(respbody.data.amount);
             $('#alipay_form').submit();
             }
             });
             };
             var postData = { "uid": uid,"server": server,  "amount": amount };
             alipay_create(postData);*/
            $('input[name=uid]').val(uid);
            $('input[name=server]').val(server);
            $('input[name=amount]').val(amount);
            $('input[name=tradetype]').val(tradetype);
            $('#alipay_form').submit();
        });
        /*$('.apay_btn').click(function () {
            win.alert("","暂未开通！");
        });*/
    });
</script>

<!-- alipay form -->
<form id="alipay_form" method="post" action="__API__pay.alipay/create_order">
    <input type="hidden" name="WIDbody" value="yshfx用户充值" />
    <input type="hidden" name="uid" value="" />
    <input type="hidden" name="server" value="" />
    <input type="hidden" name="WIDsubject" value="订单系统" />
    <input type="hidden" name="amount" value="" />
    <input type="hidden" name="from" value="">
    <input type="hidden" name="tradetype" value="">
</form>
{/block}