body,div,ul,li,a,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,form,input,span,label,b{ padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
img,input{border: none;}
a,input{outline: none;}
textarea{resize: none;}
h1,h2,h3,h4,h5{font-weight: normal;}
i,em{font-style: normal;}
*{font-family: 'Microsoft YaHei';}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.o_main{width:1300px;margin:0 auto;height:1450px;background: #fff;}
.o_main_left{width:259px;height:100%;float:left;background: #fff;border-right: 1px solid #ccc;}
.o_main_left>div{border-radius: 6px;}
.o_main_right{margin-left:260px;padding: 0 50px;width: 1040px;padding-top:38px;}
.or_person__img{display: block;border-radius: 6px;width:155px;height:155px;object-fit: cover;background:#dadada;border:2px solid #dadada;}
.or_person_country{position:absolute;right:-2px;bottom:-2px;width:48px;border-radius:2px 2px 4px 2px;box-shadow: -1px -1px 5px #929292;opacity: 0.9;}
.or_person_name{font-size:22px;color:#333333;padding:0 10px;text-align: center;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.or_btn{cursor:pointer;width:205px;height:46px;background: #611987;display: block;margin:0 auto;outline: none;border: none;font-size:20px;color:#fff;border-radius: 8px;text-align: center;line-height: 46px;}
.or_btn:hover{background: #510c76;color: #ffffff;}
.or_per_info{padding:30px 0;width:82%;margin:0 auto;border-bottom:1px solid #dadada;}
.or_per_info li{height:40px;}
.or_per_l{height:34px;float:left;line-height: 40px;font-size:14px;color:#333333;}
.or_per_r{height:34px;float:right;line-height: 40px;font-size:14px;color:#333333;}
.or_tips{width:82%;margin:0 auto;padding:10px 0 20px;}
.or_tip_icon{width:16px;float:left;margin-top:5px;}
.or_tip_span{padding-left:20px;font-size:14px;line-height: 24px;color: #666666;}
.or_head,.or_head2{height:40px;border: 1px solid #cccccc;width:100%;}
.orhead,.orhead2{/* margin-left:45px; */position: relative;height:40px;}
.orh_normal{width:130px;height:40px;background: #f6f5f9;/* border:1px solid #cccccc; */cursor: pointer;float:left;margin-top:-1px;}
.orh_normal img{float:left;width:22px;margin:10px 10px 10px 35px;}
.orh2_img,.orh_active2 img{float:left;width:22px;margin:10px 10px 10px 26px;}
.orh2_img_active{float:left;width:22px;margin:10px 10px 10px 26px;}
.orh_normal_p{float:left;line-height: 40px;font-size:16px;color:#999999;}
.orh_active{background: #fff;height:44px;width:140px;/* border-bottom:1px solid #fff; */box-shadow:-2px -3px 5px #eaeaea;}
.orh_normal:hover{border-bottom: 2px solid #611987;background: #fff;}
.orh_normal:hover .or_bg1{display: none;}
.orh_normal:hover .or_bg2{display: block;}
.orh_active2{width: 150px;/* border:1px solid #cccccc; */cursor: pointer;background: #fff;height:44px;/* border-bottom:1px solid #fff; */float:left;}
.orh_active2:hover{border-bottom: 2px solid #611987;}
.orh_active2:hover .orh2_img{display: none;}
.orh_active2:hover .orh2_img_active{display: block;}
.orh_active_p{color:#611987;}
.orh_active_p2{float:left;line-height: 45px;font-size:16px;color: #999;}
.or_chart{width:100%!important;height:350px!important;margin:0 auto;padding-top:15px;}
.alldatazt{width: 100%;margin: 20px 0;height:45px;float:right;}
.alldatazt>li{width:24.7%;height:80px;float:left;border-right:1px dashed #ccc;}
.alldatazt>li:nth-child(4){border-right:none;}
.allzt_title{text-align: center;font-size:16px;color:#777777;padding-top:4px;    height: 25px;width: 100%;}
.allzt_info{text-align: center;font-size:18px;color:#555555;padding-top:10px;height: 25px;width: 100%;}
.allzt_info2{text-align: center;font-size:18px;color:#555555;    height: 25px;width: 100%;}
.allzt_t_red{color:#e60000;}
.allzt_t_blue{color:#007eff;}
.historycontent{width:941px;float:right;/* margin-top:40px; */height:962px;}
.historyBox{border:1px solid #dbdbdb;}
.historyHead{width:100%;height:40px;background: #efefef;}
.historyHead li{width:8.33%;float:left;line-height: 40px;text-align: center;font-size:15px;color:#333333;}
.historyInfo>span{display: block;width:100%;height:40px;line-height: 40px;text-align: center;}
.historyInfo>ul{width:100%;height:40px;}
.historyInfo>ul:nth-child(n){background: #fff}
.historyInfo>ul:nth-child(2n){background: #f0f4f7}
.historyInfo li{width:8.33%;float:left;line-height: 40px;text-align: center;font-size:12px;color:#333333;height:40px;}
.historyInfo li:nth-child(3),.historyInfo li:nth-child(10),.historyInfo li:nth-child(11),.historyHead li:nth-child(3),.historyHead li:nth-child(10),.historyHead li:nth-child(11){width:7.4%;}
.historyInfo li:nth-child(12),.historyHead li:nth-child(12){width:10.5%;white-space: nowrap;}
.historyInfo li:nth-child(1),.historyInfo li:nth-child(8){line-height: 20px;}
.historyInfo li:nth-child(1),.historyInfo li:nth-child(8),.historyInfo li:nth-child(12),.historyInfo li:nth-child(8){text-align: right;}
.historyHead li:nth-child(1),.historyHead li:nth-child(8),.historyHead li:nth-child(12),.historyHead li:nth-child(8){text-align: right;}
.chartloading{width:55px;padding: 150px 0;margin: 0 auto;display: block;}
.chartload{height:350px;width:100%;position: absolute;top:0;}
.chart_tips,.or_chart{visibility:hidden;}
.chart_tips div{margin-left:20px;}

.positionContent{width:941px;float:right;/* margin-top:40px; */height:962px;}
.positionBox{border:1px solid #dbdbdb;}
.positionHead{width:100%;height:40px;background: #efefef;}
.positionHead li{width:10%;float:left;line-height: 40px;text-align: center;font-size:15px;color:#333333;}
.positionHead li:nth-child(1){text-align: right;width:10%;}
.positionInfo>span{display: block;width:100%;height:40px;line-height: 40px;text-align: center;}
.positionInfo>ul{width:100%;height:40px;}
.positionInfo>ul:nth-child(n){background: #fff}
.positionInfo>ul:nth-child(2n){background: #f0f4f7}
.positionInfo li{width:10%;float:left;line-height: 40px;text-align: center;font-size:12px;color:#333333;height:40px;}
.positionInfo li:nth-child(1){line-height: 20px;text-align: right;width:10%;}
.commitContent{clear:both;}

.comment{width:941px;float:right;/* margin-top:20px; */}
.pinglun_icon{width:27px;float:left;margin-top:3px;}
.commit_t{font-size:20px;color:#333333;line-height: 27px;float:left;margin-left:10px;}
.commitBox{padding: 20px 10px;border-bottom:1px dashed #c2e2f2;clear:both;}
.commit_head{float:left;width:50px;object-fit: cover;}
.commit_per_name{font-size:20px;color:#333333;padding-left:65px;}
.commit_per_detail{font-size:16px;color:#999999;padding-left:65px;width:725px;padding-top:10px;}
.commit_date{font-size:16px;color:#777777;float:right;margin-top:10px;}
.commitsubmit{width:100%;padding:20px 0 60px 0;border:1px solid #c2e2f2;margin-top:30px;}
.commit_textarea{resize:none;list-style: none;overflow-x:auto;overflow-y:hidden;width:890px;margin:0 auto 10px;display: block;font-size:16px;height:80px;border:none;outline: none;}
.commitsubmitbtn{border-radius:4px;font-size:20px;color:#fff;width:150px;height:40px;border:none;background: #007eff;float:right;margin-right:23px;cursor: pointer;outline: none;}
.commitsubmitbtn:hover{background: #0060ff;}
.commitContent{padding:10px 0;}
.chart_table{width:941px;margin:0 0 20px 0;/* margin-left:45px; */}
.table_head,.table_body,.table_total{height:24px;}
.table_head li{display:block;width:7.13%;float:left;height:24px;line-height:24px;text-align:center;color:#333333;font-size:14px;border-bottom:1px solid #e1e1e1;}
.table_body li{display:block;width:7.13%;float:left;height:24px;line-height:24px;text-align:center;color:#007eff;font-size:14px;border-bottom:1px solid #e1e1e1;}
.table_body li:nth-child(1),.table_body li:nth-child(14){cursor:default;}
.table_body li:nth-child(14){background: #f7f9fd;border-left:1px solid #e1e1e1;}
.table_head li:nth-child(14),.table_total li:nth-child(14){border-left:1px solid #e1e1e1;}
.table_total li{display:block;width:7.13%;float:left;height:24px;line-height:24px;text-align:center;color:#007eff;font-size:14px;border-bottom:1px solid #e1e1e1;}
.table_total li:nth-child(13){color:#1b1b1b;}
.historycontent,.positionContent,.comment{display: none;}
.transaction{position: relative;}
.chart_tips{position: absolute;top:30px;left:100px;height:14px;}
.or_bg2{display: none;}
.identify_box{height:35px;/* padding:20px 30px; */}
.identify_fwq{display: block;float: left;width: 80px;margin-top: 5px;}
.identify_icon{float:right;height:35px;margin-left:5px;}
.pers{font-size:12px;}


/*vip*/
.vip{width: 100%;height: 100%;}
.vip_inner{width:1200px;margin: 0 auto 50px auto;background: #fff;padding-bottom:80px;padding-top: 10px;border-radius: 8px;box-shadow: 0 0 30px rgba(0,0,0,0.3);}
.vip_title{width:150px;margin:0 auto;padding:40px 0;height:40px;}
.viptitle_img{width:43px;float:left;}
.viptitle_p{font-size:24px;color:#333333;float:left;line-height: 39px;margin-left:5px;}
.vipshow2{width:100%;height:55px;}
.vipshow2>li{width:19.8%;height:55px;float:left;text-align: center;line-height: 55px;font-size:17px;color:#333333;border-right:1px solid #dadada}
.vipshow2>li:last-child{border-right:none;}
.vipshow2>li>img{width:80px;margin:11px auto;}
.vipshow{width:100%;height:55px;border-bottom:1px solid #dadada;}
.vipshow>li{width:19.8%;height:55px;float:left;text-align: center;line-height: 55px;font-size:17px;color:#333333;border-right:1px solid #dadada}
.vipshow>li:last-child{border-right:none;}
.vipbox>.vipshow:nth-child(n+1){background: #f7f9fb;}
.vipbox>.vipshow:nth-child(2n+1){background: #fff;}
.vipshow>li>img{width:34px;margin:12px auto;}
.vipshow>li button{width:138px;height:40px;line-height:40px;font-weight: bold;background: #611987;margin:9px auto;outline: none;border:none;border-radius: 8px;font-size:18px;color:#ffffff;cursor: pointer;}
.vip1_login{display:none;cursor:pointer;font-size:20px;color:#fff;width:260px;height:50px;background: #510c76;margin:42px auto;border-radius: 6px;text-align: center;line-height: 50px;}

.vip_window{width:100%;height:100%;position: fixed;top:0;left:0;background: rgba(0,0,0,0.4);display: none;z-index:1000}
.vipwindow1{width:550px;height:460px;background: #fff;border-radius: 8px;position: relative;top:50%;left:50%;margin-top:-230px;margin-left:-275px;z-index:99;display: none;}
.window_close{width:40px;position: absolute;top:-20px;right:-20px;cursor: pointer;z-index:100;}
.vipwindow_title{width:100%;position: absolute;top:0;left:0;z-index:-1;}
.vipwin_t{width:184px;margin:0 auto;padding-top:23px;height:60px;}
.vip_title2{height:30px;float:left;}
.vipwin_title2{font-size:20px;color:#d3a672;line-height: 30px;margin-left:10px;float:left;}
.vip_price{padding-top: 30px;width:500px;margin: 20px auto;height: 130px;}
.vip_price_li,.vip_price_li2,.vip_price_li3{width:151px;float:left;border-radius: 8px;height:100px;margin-left:20px;border:1px solid #e5e5e5;position: relative;cursor: pointer;}
.vip_price>li:nth-child(1){margin-left:0;}
.vip_price1,.vip_price2,.vip_price3{font-size:16px;color:#666666;margin:0 auto;text-align: center;width:96px;border-bottom:2px solid #d3a672;padding-top:14px;}
.vip_price1>span,.vip_price2>span,.vip_price3>span{font-size:26px;color:#d3a672;}
.vipprice_month{text-align: center;color:#d3a672;}
.vipwindow_tip,.vipwindow_tip22,.vipwindow_tip33{width:30px;position: absolute;bottom:0;right:0;}
.vip_price_active{border:1px solid #d8a152;}
.vipwindow_tip,.vipwindow_tip22,.vipwindow_tip33{display: none;}
.vipwindow_tip2{display: block;}
.vip_money{font-size: 16px;color:#666666;text-align: center;padding:15px 0;}
.vip_money2,.vip_money1,.vip_money3{color:#d8a152;}
.vip2_mfget{width:90px;height:30px;float:right;background: #fea032;}
.paymoney>li{width:50%;float:left;}
.paymoney>li:nth-child(3){display:none;}
.paymoney>li>div{position: relative;}
.wechatpayicon{width:10px;position: absolute;top:50%;left:50%;margin-top:-5px;margin-left:-5px;}
.paymoney_style{width:104px;height:104px;padding:5px;margin:0 auto;border:1px solid #56b822;display:block;}
.apay_btn{display:  block;width:114px;height:36px;margin: 10px auto;background: #02aaef;color:#fff;border-radius: 4px;text-align: center;font-size:16px;line-height: 36px;outline: none;border:none;cursor: pointer;}
.vip_v1{width:56px;margin:22px auto 15px;}
.vip_buy_not{text-align: center;font-size:18px;color:#27323f;}
.vip_buy_condition>li{width:50%;float:left;padding:30px 0 25px;}
.vip_buy_condition>li>img{width:54px;}
.check_invite{float:right;width:200px;height:40px;margin:0 auto;background: #007eff;font-size:18px;color:#fff;display: block;outline: none;border:none;margin-top:16px;border-radius: 4px;cursor: pointer;}
.check_invite:hover{background: #0060ff;}
.check_invite2{background: #fd8902;float:left;width:167px;height:40px;margin:0 auto;font-size:18px;color:#fff;display: block;outline: none;border:none;margin-top:16px;border-radius: 4px;cursor: pointer;}
.check_invite2:hover{background: #510c76;}

.howBg{width:1200px;background: #fff;margin:0 auto;}
.howBox{width:790px;margin:0 auto;}
.howH1{font-size:24px;color:#333333;text-align: center;padding:45px 0 35px;font-weight: bold;}
.howH2{font-size:18px;color:#333333;text-align: center;}
.how_title{font-size: 20px;color:#333333;font-weight: bold;padding:35px 0;}
.download_ul{height:200px;}
.download_ul>li{width:50%;float:left;height:200px;}
.download_ul>li>img{height:146px;float:left;margin-left:30px;padding:3px;border:1px solid #d6d6d6;}
.download_ul>li>p{font-size:16px;color:#666666;clear:both;width:152px;float:left;text-align: center;padding:10px 0;margin-left:30px;}
.howH3{font-size:18px;color:#333333;text-indent: 30px;line-height: 35px;}
.how_show_img>img{width:263px;float:left;}

/*创建信号*/
.createMain{width: 100%;height: 100%;margin: 110px auto 0 auto;background: #f3f3f3;}
.createBox{width: 1200px;margin:0 auto;background: #fff;padding: 40px 200px;height: 700px;}
.createH1{font-size: 28px;color:#333333;text-align: center;padding:25px 0 20px;}
.siText{font-size:18px;color:#333333;/* text-indent: 500px; */line-height: 32px;}
.createTitle{width:320px;height:40px;border:1px solid #611987;border-radius: 8px;margin: 20px auto;}
.createT{width:50%;float:left;height:100%;color:#999999;font-size:16px;text-align: center;line-height: 40px;cursor: pointer;}
.createT_active{background: #611987;color:#fff;}
.traderContent li{width: 585px;height:50px;margin:0 auto;margin-top:12px;position: relative;}
.traderContent li>img{width:35px;float:left;margin:7px 10px 7px 0;}
.traderContent li>input{width: 435px;height: 50px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;border:1px solid #999999;border-right: none;float:left;padding:10px 30px;font-size:18px;}
.traderContent li:nth-child(3)>input,.traderContent li:nth-child(4)>input,.traderContent li:nth-child(5)>input{width: 485px;border-right: 1px solid #999999;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.upload_icon{width:60px;height:50px;float:left;border-radius: 0 6px 6px 0;border:1px solid #999999;border-left:none;cursor: pointer;background: url("../image/upload_icon.png") 12px 10px no-repeat;}
.upload_icon>input{width:60px;height:50px;opacity: 0;cursor: pointer;}
.traderSubmit{width:480px;margin-left: 100px;height:50px;background: #611987;border-radius: 6px;text-align: center;line-height: 50px;font-size:20px;color:#fff;outline: none;border:none;cursor: pointer;}
.traderSubmit:hover{background: #510c76}
#free{display: none;}
.chooseBox{width:420px;padding:5px 30px;height:136px;position: absolute;background: #fff;top:50px;left:45px;z-index:10;overflow-y: scroll;border: 1px solid #999;display: none;cursor: pointer}
.chooseicon{width:50px;height:50px;position: absolute;top:0;right:2px;cursor: pointer;}
.select_btn,.broker_btn{display: inline-block;width: 50px!important;height: 50px!important;margin: 0!important;position: absolute;right: 0;top: 0;margin: 0;border-bottom-right-radius: 4px;border-top-right-radius: 4px;cursor: pointer;}
.option,.option_2{padding-left: 18px;width: 485px;height: 270px!important;z-index: 99;border: 1px solid #999;border-top: none;position: absolute;left: 100px;top: 48px;background-color: #ffffff;display: none;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.option ul li,.option_2 ul li{display: block;width: 100%;height: 25px;line-height: 25px;margin: 0;cursor: pointer;}
.last_li,.last_li_2{cursor: pointer;font-size: 16px;margin-right: 18px;margin-top: 10px;height: 28px;line-height: 28px;margin-bottom: 10px;text-align: center;border-radius: 4px;background-color:#ffffff;color: #007eff;border: 1px solid #007eff;}

.profit{cursor:pointer;}
.profittip{width:220px;}
.profitContent{clear:both;position:relative;display:none;}
.profit:hover .profitContent{display:block;}
.profitBox{position:absolute;top:18px;left:0;width:100%;}
.profitBox li{height:30px;clear:both;padding:0 10px;font-size:14px;}
.profitBox li span:nth-child(1){float:left;}
.profitBox li span:nth-child(2){float:right;color:#007eff;}

.backTop{}

.allchartBox{width:100%;height:375px;position: relative;margin-top:20px;}
.allchartTitle{width: 100%;font-size:20px;color:#333333;text-align: center;}
.allchart{width: 100%;display:none;}
.achievement_radio{height:40px;position: absolute;top:30px;right:0;z-index: 99;}
.achievement_radio label{float:right;margin-left:15px;}

/*!*qq客服*!*/
.qqkefu{width:76px;position: fixed;right:73px;bottom:66px;z-index:1;cursor: pointer;}

/* 我的交易 */
.trade_body{width:1200px;margin:110px auto 0;background: #fff;padding-bottom:30px;}
.trade_head{height:140px;width:100%;}
.trade_user{width:390px;height:90px;float:left;margin-top:25px;border-right:1px dotted #dedfe0;}
.trade_user_image{height:90px;width:100px;float:left}
.trade_user_img{width:60px;height:60px;margin-left:18px;border-radius: 50%;}
.trade_user_img2{height:25px;clear:both;margin-left:10px;}
.trade_user_info{width: 285px;float:left;padding-left:15px;margin-top:-11px;}
.trade_user_info li{clear:both;margin-top: 10px;color:#777777;}
.trade_user_info li span:nth-child(1){float:left;width: 104px;display: block;text-align: right;}
.trade_user_info li span:nth-child(2){display: inline-block;height: 18px;line-height: 22px;overflow: hidden;text-overflow: ellipsis;width: 140px;white-space: nowrap;}
.trade_user_info li p{font-size:16px;color:#333333;}
.trade_info{float:left;height:90px;margin-top:25px;}
.trade_info li{width:158px;float:left;margin-left:15px;}
.trade_info li:nth-child(1){width:126px}
.trade_info li:nth-child(2){width:126px;}
.trade_info li:nth-child(5){width:126px;}
.trade_info li p{font-size:16px;color:#777777;}
.trade_info li p:nth-child(2){margin-top:10px;}
.trade_tip{width:16px;clear:both;float:left;margin-top:16px;margin-left:15px;}
.trade_tip_text{font-size:14px;color:#999999;float:left;height:16px;line-height: 16px;margin-top:16px;margin-left:6px;}
.trade_title_box{height:50px;width: 96%;margin:  0 auto;background: #fbfcfc;border: 1px solid #dedfe0;}
.trade_title_box li{width: calc(100%/6);padding: 0 18px;float:left;margin-top:8px;cursor: pointer;}
.trade_title{width:22px;float:left;margin-top:7px;    margin-right: 4px;}
.trade_title_text{float:left;font-size:16px;color:#666666;height:34px;line-height: 34px;}
.trade_title_active{color:#611987;}
.trade_title2{width:22px;float:left;margin-top:7px;display:none;    margin-right: 4px;}
.trade_title_box li:nth-child(1) .trade_title{display: none;}
.trade_title_box li:nth-child(1) .trade_title2{display: block;}
.trade,.trade .allchartTitle{width:96%;margin:0 auto;}
.trade{display:none;}
.trade1{display:block;}
.trade2{margin-top:20px;padding-bottom:60px;display:block;height:auto;float:none;display:none;min-height:400px;}
.trade3{margin-top:20px;padding-bottom:60px;display:block;height:auto;float:none;display:none;min-height:400px;}
.trade4{width:96%;margin:20px auto;display:none;min-height:400px;}
.trade5{width:96%;display:none;}
.source_head{width:100%;height:40px;border:1px solid #dbdbdb;background: #efefef;font-size:15px;}
.source_head li{width:16.66%;float:left;text-align: center;height:40px;line-height: 40px;}
.source_person{width:40px;height:40px;object-fit: cover;border-radius: 40px;border: 1px solid #fea740;}
.source_body{width:100%;height:80px;border:1px solid #dbdbdb;border-top:none;}
.source_body li{width:16.66%;float:left;text-align: center;height:80px;line-height: 80px;}
.trade4 .source_body:nth-child(n+1){background: #fff;}
.trade4 .source_body:nth-child(2n+1){background: #f0f4f7;}
.source_person_box{position: relative;width:40px;height:40px;left:50%;margin-left:-20px;top:4px;}
.source_person_country{position: absolute;width:16px;bottom:-4px;right:-4px;}
.source_person_name{width:100%;text-align: center;font-size:14px;color:#333333;height:16px;line-height: 16px;margin-top:16px;}
.trade5_mt4{width:100%;height:700px;margin:20px auto;display: block;}
.mt4Btn{position:absolute;right:10px;top:8px;}
.mt4BtnText{font-size:16px;color:#cccccc;float:left;line-height: 34px;}
.mt4TextActive{color:#611987;}
.changeBtn{float:left;width:60px;height:34px;border-radius: 20px;background: #611987;margin:0 10px;position: relative;cursor: pointer;}
.changeRadio{width:30px;height:30px;position: absolute;top:2px;left:2px;background: #fff;border-radius: 30px;box-shadow: 0 0 10px #c77c0d;}
.mt4_t{font-size:16px;color:#fff;border-bottom:1px solid #fff;cursor: pointer;}

.trade_icon1{width:44px;position: absolute;top:0;}
.trade_icon{position: fixed;top:32px;left:50%;z-index:101;margin-left:-229px;}
.trade_icon2{position: absolute;left:35px;top:30px;background: url(../image/trade_icon2.png) no-repeat center;background-size: 113px;color:#fff;width:113px;text-align: center;height:30px;line-height: 30px;}
.trade_icon3{width:18px;position: absolute;top:21px;left:140px;cursor: pointer;}

/* 跟随者 */
.follower{width:945px;float:right;display: none;height:1014px;}
.follower_head{font-size:20px;color:#666666;float:left;margin-right:50px;padding:10px 0;}
.follower_head_em{color:#611987;}
.follower_body{width:940px;border:1px solid #dbdbdb;clear:both;border-bottom:none;}
.follower_body>li{height:90px;border-bottom: 1px solid #dbdbdb; clear: both;}
.follower_head_img{width:60px;height:60px;object-fit: cover;border-radius: 60px;border:1px solid #ffb55d;overflow:hidden;}
.follower_head_country{width:22px;position: absolute;right:-2px;bottom:1px;}
.fo_head_box{position: relative;width:60px;height:60px;float:left;margin:15px;}
.fo_person{float:left;margin-top:13px;}
.fo_person li{color:#333333;height:32px;width:220px;line-height: 32px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.fo_info{width:600px;float:right;color:#777777;}
.fo_info>li{width:21%;float:left;}
.fo_info>li:nth-child(1){width:37%;}
.fo_info>li p:nth-child(1){font-size:16px;height:50px;line-height: 50px;}
.fo_info>li p:nth-child(2){font-size:20px;}